openapi: 3.0.3
info:
  title: BrickLink API
  description: Official BrickLink API for LEGO marketplace operations
  version: "1.0"
  contact:
    name: BrickLink API Support
    url: https://www.bricklink.com/v3/api.page
  license:
    name: BrickLink API Terms
    url: https://www.bricklink.com/v3/terms_of_use_api.page

servers:
  - url: https://api.bricklink.com/api/store/v1
    description: BrickLink API Production Server

security:
  - oauth1: []

paths:
  # ORDER ENDPOINTS
  /orders:
    get:
      tags:
        - Orders
      summary: Get orders
      description: Retrieves a list of orders you received or placed
      parameters:
        - name: direction
          in: query
          description: The direction of the order to get
          required: false
          schema:
            type: string
            enum: [in, out]
            default: in
        - name: status
          in: query
          description: The status of the order to include or exclude (comma-separated, use minus sign to exclude)
          required: false
          schema:
            type: string
        - name: filed
          in: query
          description: Indicates whether to retrieve filed or un-filed orders
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /orders/{order_id}:
    get:
      tags:
        - Orders
      summary: Get order
      description: Retrieves the details of a specific order
      parameters:
        - name: order_id
          in: path
          required: true
          description: The ID of the order to get
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Orders
      summary: Update order
      description: Updates properties of a specific order
      parameters:
        - name: order_id
          in: path
          required: true
          description: The ID of the order to update
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderUpdate'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /orders/{order_id}/items:
    get:
      tags:
        - Orders
      summary: Get order items
      description: Retrieves a list of items for the specified order
      parameters:
        - name: order_id
          in: path
          required: true
          description: The ID of the order
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: array
                          items:
                            $ref: '#/components/schemas/OrderItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /orders/{order_id}/messages:
    get:
      tags:
        - Orders
      summary: Get order messages
      description: Retrieves a list of messages for the specified order
      parameters:
        - name: order_id
          in: path
          required: true
          description: The ID of the order
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/OrderMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /orders/{order_id}/feedback:
    get:
      tags:
        - Orders
      summary: Get order feedback
      description: Retrieves a list of feedback for the specified order
      parameters:
        - name: order_id
          in: path
          required: true
          description: The ID of the order
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Feedback'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /orders/{order_id}/status:
    put:
      tags:
        - Orders
      summary: Update order status
      description: Updates the status of a specific order
      parameters:
        - name: order_id
          in: path
          required: true
          description: The ID of the order to update status
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatusUpdate'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /orders/{order_id}/payment_status:
    put:
      tags:
        - Orders
      summary: Update payment status
      description: Updates the payment status of a specific order
      parameters:
        - name: order_id
          in: path
          required: true
          description: The ID of the order to update payment status
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentStatusUpdate'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /orders/{order_id}/drive_thru:
    post:
      tags:
        - Orders
      summary: Send drive thru
      description: Send "Thank You, Drive Thru!" e-mail to a buyer
      parameters:
        - name: order_id
          in: path
          required: true
          description: The ID of the order
          schema:
            type: integer
        - name: mail_me
          in: query
          required: false
          description: Indicates whether you want to cc yourself or not
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # STORE INVENTORY ENDPOINTS
  /inventories:
    get:
      tags:
        - Store Inventory
      summary: Get store inventories
      description: Retrieves a list of inventories you have
      parameters:
        - name: item_type
          in: query
          description: The type of the item to include or exclude (comma-separated, use minus sign to exclude)
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: The status of the inventory to include or exclude
          required: false
          schema:
            type: string
            enum: [Y, S, B, C, N, R]
        - name: category_id
          in: query
          description: The ID of the category to include or exclude
          required: false
          schema:
            type: integer
        - name: color_id
          in: query
          description: The ID of the color to include or exclude
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Inventory'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Store Inventory
      summary: Create store inventory/inventories
      description: Creates one or more new inventories with items
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/InventoryCreate'
                - type: array
                  items:
                    $ref: '#/components/schemas/InventoryCreate'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        oneOf:
                          - $ref: '#/components/schemas/Inventory'
                          - type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /inventories/{inventory_id}:
    get:
      tags:
        - Store Inventory
      summary: Get store inventory
      description: Retrieves information about a specific inventory
      parameters:
        - name: inventory_id
          in: path
          required: true
          description: The ID of the inventory to get
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Inventory'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Store Inventory
      summary: Update store inventory
      description: Updates properties of the specified inventory
      parameters:
        - name: inventory_id
          in: path
          required: true
          description: The ID of the inventory to update
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryUpdate'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Inventory'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Store Inventory
      summary: Delete store inventory
      description: Deletes the specified inventory
      parameters:
        - name: inventory_id
          in: path
          required: true
          description: The ID of the inventory to delete
          schema:
            type: integer
      responses:
        '204':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # CATALOG ITEM ENDPOINTS
  /items/{type}/{no}:
    get:
      tags:
        - Catalog Items
      summary: Get item
      description: Returns information about the specified item in BrickLink catalog
      parameters:
        - name: type
          in: path
          required: true
          description: The type of the item to get
          schema:
            $ref: '#/components/schemas/ItemType'
        - name: "no"
          in: path
          required: true
          description: Identification number of the item to get
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Item'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /items/{type}/{no}/images/{color_id}:
    get:
      tags:
        - Catalog Items
      summary: Get item image
      description: Returns image URL of the specified item by colors
      parameters:
        - name: type
          in: path
          required: true
          description: The type of the item to get
          schema:
            $ref: '#/components/schemas/ItemType'
        - name: "no"
          in: path
          required: true
          description: Identification number of the item to get
          schema:
            type: string
        - name: color_id
          in: path
          required: true
          description: The color ID
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ItemImage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /items/{type}/{no}/supersets:
    get:
      tags:
        - Catalog Items
      summary: Get supersets
      description: Returns a list of items that include the specified item
      parameters:
        - name: type
          in: path
          required: true
          description: The type of the item
          schema:
            $ref: '#/components/schemas/ItemType'
        - name: "no"
          in: path
          required: true
          description: Identification number of the item
          schema:
            type: string
        - name: color_id
          in: query
          required: false
          description: The color of the item
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SupersetEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /items/{type}/{no}/subsets:
    get:
      tags:
        - Catalog Items
      summary: Get subsets
      description: Returns a list of items that are included in the specified item
      parameters:
        - name: type
          in: path
          required: true
          description: The type of the item
          schema:
            $ref: '#/components/schemas/ItemType'
        - name: "no"
          in: path
          required: true
          description: Identification number of the item
          schema:
            type: string
        - name: color_id
          in: query
          required: false
          description: The color of the item (valid only for PART type)
          schema:
            type: integer
        - name: box
          in: query
          required: false
          description: Indicates whether the set includes the original box
          schema:
            type: boolean
        - name: instruction
          in: query
          required: false
          description: Indicates whether the set includes the original instruction
          schema:
            type: boolean
        - name: break_minifigs
          in: query
          required: false
          description: Indicates whether the result breaks down minifigs as parts
          schema:
            type: boolean
        - name: break_subsets
          in: query
          required: false
          description: Indicates whether the result breaks down sets in set
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SubsetEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /items/{type}/{no}/price:
    get:
      tags:
        - Catalog Items
      summary: Get price guide
      description: Returns the price statistics of the specified item in BrickLink catalog
      parameters:
        - name: type
          in: path
          required: true
          description: The type of the item
          schema:
            $ref: '#/components/schemas/ItemType'
        - name: "no"
          in: path
          required: true
          description: Identification number of the item
          schema:
            type: string
        - name: color_id
          in: query
          required: false
          description: The color of the item
          schema:
            type: integer
        - name: guide_type
          in: query
          required: false
          description: Indicates which statistics to be provided
          schema:
            type: string
            enum: [sold, stock]
            default: stock
        - name: new_or_used
          in: query
          required: false
          description: Indicates the condition of items included in the statistics
          schema:
            type: string
            enum: [N, U]
            default: N
        - name: country_code
          in: query
          required: false
          description: Only includes items in stores located in specified country
          schema:
            type: string
        - name: region
          in: query
          required: false
          description: Only includes items in stores located in specified region
          schema:
            type: string
            enum: [asia, africa, north_america, south_america, middle_east, europe, eu, oceania]
        - name: currency_code
          in: query
          required: false
          description: Returns price in the specified currency code
          schema:
            type: string
        - name: vat
          in: query
          required: false
          description: Indicates that price will include VAT
          schema:
            type: string
            enum: [N, Y, O]
            default: N
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PriceGuide'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /items/{type}/{no}/colors:
    get:
      tags:
        - Catalog Items
      summary: Get known colors
      description: Returns currently known colors of the item
      parameters:
        - name: type
          in: path
          required: true
          description: The type of the item
          schema:
            $ref: '#/components/schemas/ItemType'
        - name: "no"
          in: path
          required: true
          description: Identification number of the item
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/KnownColor'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # FEEDBACK ENDPOINTS
  /feedback:
    get:
      tags:
        - Feedback
      summary: Get feedback list
      description: Gets a list of feedback you received or posted
      parameters:
        - name: direction
          in: query
          description: The direction of the feedback to get
          required: false
          schema:
            type: string
            enum: [in, out]
            default: in
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Feedback'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Feedback
      summary: Post feedback
      description: Posts a new feedback about the transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackCreate'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Feedback'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /feedback/{feedback_id}:
    get:
      tags:
        - Feedback
      summary: Get feedback
      description: Gets a specified feedback
      parameters:
        - name: feedback_id
          in: path
          required: true
          description: The ID of the feedback to get
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Feedback'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /feedback/{feedback_id}/reply:
    post:
      tags:
        - Feedback
      summary: Reply feedback
      description: Creates a reply to the specified feedback you received
      parameters:
        - name: feedback_id
          in: path
          required: true
          description: The ID of the feedback to post a reply
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackReply'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # COLOR ENDPOINTS
  /colors:
    get:
      tags:
        - Colors
      summary: Get color list
      description: Retrieves a list of the colors defined within BrickLink catalog
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Color'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /colors/{color_id}:
    get:
      tags:
        - Colors
      summary: Get color
      description: Retrieves information about a specific color
      parameters:
        - name: color_id
          in: path
          required: true
          description: The ID of the color to get
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Color'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # CATEGORY ENDPOINTS
  /categories:
    get:
      tags:
        - Categories
      summary: Get category list
      description: Retrieves a list of the categories defined within BrickLink catalog
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Category'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /categories/{category_id}:
    get:
      tags:
        - Categories
      summary: Get category
      description: Retrieves information about a specific category
      parameters:
        - name: category_id
          in: path
          required: true
          description: The ID of the category to get
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Category'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # PUSH NOTIFICATION ENDPOINTS
  /notifications:
    get:
      tags:
        - Push Notifications
      summary: Get notifications
      description: Returns a list of unread push notifications
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Notification'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # COUPON ENDPOINTS
  /coupons:
    get:
      tags:
        - Coupons
      summary: Get coupons
      description: Retrieves a list of coupons you received or created
      parameters:
        - name: direction
          in: query
          description: The direction of the coupon to get
          required: false
          schema:
            type: string
            enum: [in, out]
            default: out
        - name: status
          in: query
          description: The status of the coupon to include or exclude (comma-separated, use minus sign to exclude)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Coupon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Coupons
      summary: Create coupon
      description: Creates a new coupon for a buyer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponCreate'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Coupon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /coupons/{coupon_id}:
    get:
      tags:
        - Coupons
      summary: Get coupon
      description: Retrieves a specific coupon
      parameters:
        - name: coupon_id
          in: path
          required: true
          description: The ID of the coupon to get
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Coupon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Coupons
      summary: Update coupon
      description: Updates properties of the specified coupon
      parameters:
        - name: coupon_id
          in: path
          required: true
          description: The ID of the coupon to update
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponUpdate'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Coupon'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Coupons
      summary: Delete coupon
      description: Deletes the specified coupon
      parameters:
        - name: coupon_id
          in: path
          required: true
          description: The ID of the coupon to delete
          schema:
            type: integer
      responses:
        '204':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # SETTINGS ENDPOINTS
  /settings/shipping_methods:
    get:
      tags:
        - Settings
      summary: Get shipping methods
      description: Retrieves a list of shipping methods you registered
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ShippingMethod'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /settings/shipping_methods/{method_id}:
    get:
      tags:
        - Settings
      summary: Get shipping method
      description: Retrieves the specified shipping method of your store
      parameters:
        - name: method_id
          in: path
          required: true
          description: The ID of the shipping method to get
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ShippingMethod'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # MEMBER ENDPOINTS
  /members/{username}/ratings:
    get:
      tags:
        - Members
      summary: Get member rating
      description: Retrieves feedback ratings of a specific member
      parameters:
        - name: username
          in: path
          required: true
          description: Username in BrickLink
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Rating'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /members/{username}/my_notes:
    get:
      tags:
        - Members
      summary: Get member note
      description: Retrieves your notes on a member
      parameters:
        - name: username
          in: path
          required: true
          description: Username in BrickLink
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Note'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Members
      summary: Create member note
      description: Creates new member notes about the specified user
      parameters:
        - name: username
          in: path
          required: true
          description: Username in BrickLink
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteCreate'
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Note'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      tags:
        - Members
      summary: Update member note
      description: Updates properties of your member notes on the specified user
      parameters:
        - name: username
          in: path
          required: true
          description: Username in BrickLink
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteUpdate'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Note'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Members
      summary: Delete member note
      description: Deletes the notes on the specified user
      parameters:
        - name: username
          in: path
          required: true
          description: Username in BrickLink
          schema:
            type: string
      responses:
        '204':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ITEM MAPPING ENDPOINTS
  /item_mapping/{type}/{no}:
    get:
      tags:
        - Item Mapping
      summary: Get ElementID
      description: Returns Part-Color-Code (ElementID) of the specified item
      parameters:
        - name: type
          in: path
          required: true
          description: The type of the item to get (only PART supported)
          schema:
            type: string
            enum: [PART]
        - name: "no"
          in: path
          required: true
          description: Identification number of the item to get
          schema:
            type: string
        - name: color_id
          in: query
          required: false
          description: Color ID of the item
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ItemMapping'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /item_mapping/{element_id}:
    get:
      tags:
        - Item Mapping
      summary: Get item number
      description: Returns BL Catalog Item Number by Part-Color-Code (ElementID)
      parameters:
        - name: element_id
          in: path
          required: true
          description: Element ID of the item in specific color
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ItemMapping'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    oauth1:
      type: http
      scheme: oauth
      description: OAuth 1.0 authentication with simplified flow

  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ApiResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        data:
          type: object
          description: Requested information

    Meta:
      type: object
      properties:
        code:
          type: string
          description: API result code (2xx if successful)
        message:
          type: string
          description: More granular information about the result
        description:
          type: string
          description: Detailed description about the result

    ErrorResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Meta'

    ItemType:
      type: string
      enum:
        - MINIFIG
        - PART
        - SET
        - BOOK
        - GEAR
        - CATALOG
        - INSTRUCTION
        - UNSORTED_LOT
        - ORIGINAL_BOX

    # ORDER SCHEMAS
    Order:
      type: object
      properties:
        order_id:
          type: string
          description: Unique identifier for this order
        date_ordered:
          type: string
          format: date-time
          description: The time the order was created
        date_status_changed:
          type: string
          format: date-time
          description: The time the order status was last modified
        seller_name:
          type: string
          description: The username of the seller in BL
        store_name:
          type: string
          description: The store name displayed on BL store pages
        buyer_name:
          type: string
          description: The username of the buyer in BL
        buyer_email:
          type: string
          description: E-mail address of the buyer
        buyer_order_count:
          type: integer
          description: Total count of all orders placed by the buyer in the seller's store
        require_insurance:
          type: boolean
          description: Indicates whether the buyer requests insurance for this order
        status:
          type: string
          description: The status of an order
        is_invoiced:
          type: boolean
          description: Indicates whether the order invoiced
        is_filed:
          type: boolean
          description: Indicates whether the order is filed
        drive_thru_sent:
          type: boolean
          description: Indicates whether "Thank You, Drive Thru!" email has been sent
        salesTax_collected_by_bl:
          type: boolean
          description: Indicates if sales tax are collected by BL or not
        remarks:
          type: string
          description: User remarks for this order
        total_count:
          type: integer
          description: The total number of items included in this order
        unique_count:
          type: integer
          description: The unique number of items included in this order
        total_weight:
          type: string
          description: The total weight of the items ordered
        payment:
          $ref: '#/components/schemas/Payment'
        shipping:
          $ref: '#/components/schemas/Shipping'
        cost:
          $ref: '#/components/schemas/Cost'
        disp_cost:
          $ref: '#/components/schemas/Cost'

    Payment:
      type: object
      properties:
        method:
          type: string
          description: The payment method for this order
        currency_code:
          type: string
          description: Currency code of the payment
        date_paid:
          type: string
          format: date-time
          description: The time the buyer paid
        status:
          type: string
          description: Payment status

    Shipping:
      type: object
      properties:
        method:
          type: string
          description: Shipping method name
        method_id:
          type: string
          description: Shipping method ID
        tracking_no:
          type: string
          description: Tracking numbers for the shipping
        tracking_link:
          type: string
          description: URL for tracking the shipping
        date_shipped:
          type: string
          format: date-time
          description: Shipping date
        address:
          $ref: '#/components/schemas/Address'

    Address:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/PersonName'
        full:
          type: string
          description: The full address in not-well-formatted
        address1:
          type: string
          description: The first line of the address
        address2:
          type: string
          description: The second line of the address
        country_code:
          type: string
          description: The country code
        city:
          type: string
          description: The city
        state:
          type: string
          description: The state
        postal_code:
          type: string
          description: The postal code
        phone_number:
          type: string
          description: The buyer's phone number

    PersonName:
      type: object
      properties:
        full:
          type: string
          description: The full name of this person
        first:
          type: string
          description: The given name (first name) of this person
        last:
          type: string
          description: The family name (last name) of this person

    Cost:
      type: object
      properties:
        currency_code:
          type: string
          description: The currency code of the transaction
        subtotal:
          type: string
          description: The total price for the order exclusive of shipping and other costs
        grand_total:
          type: string
          description: The total price for the order inclusive of tax, shipping and other costs
        salesTax_collected_by_BL:
          type: string
          description: Sales tax collected by BL, if that applies
        final_total:
          type: string
          description: Grand total - Sales tax collected by BL
        etc1:
          type: string
          description: Extra charge for this order (tax, packing, etc.)
        etc2:
          type: string
          description: Extra charge for this order (tax, packing, etc.)
        insurance:
          type: string
          description: Insurance cost
        shipping:
          type: string
          description: Shipping cost
        credit:
          type: string
          description: Credit applied to this order
        coupon:
          type: string
          description: Amount of coupon discount
        vat_rate:
          type: string
          description: VAT percentage applied to this order
        vat_amount:
          type: string
          description: Total amount of VAT included in the grand_total price

    OrderItem:
      type: object
      properties:
        inventory_id:
          type: integer
          description: The ID of the store inventory that includes the item
        item:
          $ref: '#/components/schemas/ItemReference'
        color_id:
          type: integer
          description: The ID of the color of the item
        color_name:
          type: string
          description: Color name of the item
        quantity:
          type: integer
          description: The number of items purchased in this order
        new_or_used:
          type: string
          enum: [N, U]
          description: Indicates whether the item is new or used
        completeness:
          type: string
          enum: [C, B, S]
          description: Indicates whether the set is complete or incomplete
        unit_price:
          type: string
          description: The original price of this item per sale unit
        unit_price_final:
          type: string
          description: The unit price of this item after applying tiered pricing policy
        disp_unit_price:
          type: string
          description: The original price of this item per sale unit in display currency
        disp_unit_price_final:
          type: string
          description: The unit price of this item after applying tiered pricing policy in display currency
        currency_code:
          type: string
          description: The currency code of the price
        disp_currency_code:
          type: string
          description: The display currency code of the user
        remarks:
          type: string
          description: User remarks of the order item
        description:
          type: string
          description: User description of the order item
        weight:
          type: string
          description: The weight of the item that overrides the catalog weight

    ItemReference:
      type: object
      properties:
        "no":
          type: string
          description: Item's identification number in BL catalog
        name:
          type: string
          description: The name of the item
        type:
          $ref: '#/components/schemas/ItemType'
        category_id:
          type: integer
          description: The main category of the item

    OrderMessage:
      type: object
      properties:
        subject:
          type: string
          description: The subject of the message
        body:
          type: string
          description: The contents of the message
        from:
          type: string
          description: The username of who sends the message
        to:
          type: string
          description: The username of who receives the message
        dateSent:
          type: string
          format: date-time
          description: The time the message was sent

    OrderUpdate:
      type: object
      properties:
        shipping:
          type: object
          properties:
            date_shipped:
              type: string
              format: date-time
            tracking_no:
              type: string
            tracking_link:
              type: string
            method_id:
              type: integer
        cost:
          type: object
          properties:
            shipping:
              type: string
            insurance:
              type: string
            credit:
              type: string
            etc1:
              type: string
            etc2:
              type: string
        is_filed:
          type: boolean
        remarks:
          type: string

    StatusUpdate:
      type: object
      properties:
        field:
          type: string
          enum: [status]
        value:
          type: string

    PaymentStatusUpdate:
      type: object
      properties:
        field:
          type: string
          enum: [payment_status]
        value:
          type: string

    # INVENTORY SCHEMAS
    Inventory:
      type: object
      properties:
        inventory_id:
          type: integer
          description: The ID of the inventory
        item:
          $ref: '#/components/schemas/ItemReference'
        color_id:
          type: integer
          description: The ID of the color of the item
        color_name:
          type: string
          description: Color name of the item
        quantity:
          type: integer
          description: The number of items included in this inventory
        new_or_used:
          type: string
          enum: [N, U]
          description: Indicates whether the item is new or used
        completeness:
          type: string
          enum: [C, B, S]
          description: Indicates whether the set is complete or incomplete
        unit_price:
          type: string
          description: The original price of this item per sale unit
        bind_id:
          type: integer
          description: The ID of the parent lot that this lot is bound to
        description:
          type: string
          description: A short description for this inventory
        remarks:
          type: string
          description: User remarks on this inventory
        bulk:
          type: integer
          description: Buyers can buy this item only in multiples of the bulk amount
        is_retain:
          type: boolean
          description: Indicates whether the item retains in inventory after it is sold out
        is_stock_room:
          type: boolean
          description: Indicates whether the item appears only in owner's inventory
        stock_room_id:
          type: string
          enum: [A, B, C]
          description: Indicates the stockroom that the item to be placed
        date_created:
          type: string
          format: date-time
          description: The time this lot is created
        my_cost:
          type: string
          description: My Cost value to tracking the cost of item
        sale_rate:
          type: integer
          description: Sale value to adjust item price
        tier_quantity1:
          type: integer
          description: A parameter for Tiered pricing
        tier_quantity2:
          type: integer
          description: A parameter for Tiered pricing
        tier_quantity3:
          type: integer
          description: A parameter for Tiered pricing
        tier_price1:
          type: string
          description: A parameter for Tiered pricing
        tier_price2:
          type: string
          description: A parameter for Tiered pricing
        tier_price3:
          type: string
          description: A parameter for Tiered pricing
        my_weight:
          type: string
          description: Custom weight of the item

    InventoryCreate:
      type: object
      required:
        - item
        - color_id
        - quantity
        - unit_price
        - new_or_used
      properties:
        item:
          type: object
          required:
            - "no"
            - type
          properties:
            "no":
              type: string
            type:
              $ref: '#/components/schemas/ItemType'
        color_id:
          type: integer
        quantity:
          type: integer
        unit_price:
          type: string
        new_or_used:
          type: string
          enum: [N, U]
        completeness:
          type: string
          enum: [C, B, S]
        description:
          type: string
        remarks:
          type: string
        bulk:
          type: integer
        is_retain:
          type: boolean
        is_stock_room:
          type: boolean
        stock_room_id:
          type: string
          enum: [A, B, C]
        my_cost:
          type: string
        sale_rate:
          type: integer
        tier_quantity1:
          type: integer
        tier_price1:
          type: string
        tier_quantity2:
          type: integer
        tier_price2:
          type: string
        tier_quantity3:
          type: integer
        tier_price3:
          type: string

    InventoryUpdate:
      type: object
      properties:
        quantity:
          type: string
          description: Must have a + or - sign in front to add/subtract quantity
        unit_price:
          type: string
        description:
          type: string
        remarks:
          type: string
        bulk:
          type: integer
        is_retain:
          type: boolean
        is_stock_room:
          type: boolean
        stock_room_id:
          type: string
          enum: [A, B, C]
        my_cost:
          type: string
        sale_rate:
          type: integer
        tier_quantity1:
          type: integer
        tier_price1:
          type: string
        tier_quantity2:
          type: integer
        tier_price2:
          type: string
        tier_quantity3:
          type: integer
        tier_price3:
          type: string

    # CATALOG ITEM SCHEMAS
    Item:
      type: object
      properties:
        "no":
          type: string
          description: Item's identification number in BrickLink catalog
        name:
          type: string
          description: The name of the item
        type:
          $ref: '#/components/schemas/ItemType'
        category_id:
          type: integer
          description: The main category of the item
        alternate_no:
          type: string
          description: Alternate item number
        image_url:
          type: string
          description: Image link for this item
        thumbnail_url:
          type: string
          description: Image thumbnail link for this item
        weight:
          type: number
          format: decimal
          description: The weight of the item in grams with 2 decimal places
        dim_x:
          type: string
          description: Length of the item
        dim_y:
          type: string
          description: Width of the item
        dim_z:
          type: string
          description: Height of the item
        year_released:
          type: integer
          description: Item year of release
        description:
          type: string
          description: Short description for this item
        is_obsolete:
          type: boolean
          description: Indicates whether the item is obsolete
        language_code:
          type: string
          description: Item language code

    ItemImage:
      type: object
      properties:
        thumbnail_url:
          type: string
          description: Image thumbnail link for this item
        type:
          $ref: '#/components/schemas/ItemType'
        "no":
          type: string
          description: Item's identification number

    SupersetEntry:
      type: object
      properties:
        color_id:
          type: integer
          description: The ID of the color of the item
        entries:
          type: array
          items:
            type: object
            properties:
              item:
                $ref: '#/components/schemas/ItemReference'
              quantity:
                type: integer
                description: How many specified items are included in this super item
              appears_as:
                type: string
                enum: [A, C, E, R]
                description: How an entry appears

    SubsetEntry:
      type: object
      properties:
        match_no:
          type: integer
          description: Identification number for matching group
        entries:
          type: array
          items:
            type: object
            properties:
              item:
                $ref: '#/components/schemas/ItemReference'
              color_id:
                type: integer
                description: The ID of the color of the item
              quantity:
                type: integer
                description: The number of items that are included
              extra_quantity:
                type: integer
                description: The number of items that appear as "extra" item
              is_alternate:
                type: boolean
                description: Indicates the item appears as "alternate" item
              is_counterpart:
                type: boolean
                description: Indicates the item appears as "counterpart" item

    PriceGuide:
      type: object
      properties:
        item:
          $ref: '#/components/schemas/ItemReference'
        new_or_used:
          type: string
          enum: [N, U]
          description: Indicates whether the price guide is for new or used
        currency_code:
          type: string
          description: The currency code of the price
        min_price:
          type: number
          format: decimal
          description: The lowest price of the item (in stock / that was sold for last 6 months)
        max_price:
          type: number
          format: decimal
          description: The highest price of the item (in stock / that was sold for last 6 months)
        avg_price:
          type: number
          format: decimal
          description: The average price of the item (in stock / that was sold for last 6 months)
        qty_avg_price:
          type: number
          format: decimal
          description: The average price of the item (in stock / that was sold for last 6 months) by quantity
        unit_quantity:
          type: integer
          description: The number of times the item has been sold
        total_quantity:
          type: integer
          description: The number of items has been sold
        price_detail:
          type: array
          items:
            $ref: '#/components/schemas/PriceDetail'

    PriceDetail:
      type: object
      properties:
        quantity:
          type: integer
          description: The number of the items in the store inventory
        qunatity:
          type: integer
          description: The number of the items in the store inventory (deprecated typo)
        unit_price:
          type: number
          format: decimal
          description: The original price of this item per sale unit
        shipping_available:
          type: boolean
          description: Indicates whether or not the seller ships to your country
        seller_country_code:
          type: string
          description: The country code of the seller's location
        buyer_country_code:
          type: string
          description: The country code of the buyer's location
        date_ordered:
          type: string
          format: date-time
          description: The time the order was created

    KnownColor:
      type: object
      properties:
        color_id:
          type: integer
          description: Color ID
        quantity:
          type: integer
          description: The quantity of items in that color

    # FEEDBACK SCHEMAS
    Feedback:
      type: object
      properties:
        feedback_id:
          type: integer
          description: An identification of the feedback
        order_id:
          type: integer
          description: The ID of the order associated with the feedback
        from:
          type: string
          description: The username of who posts this feedback
        to:
          type: string
          description: The username of who receives this feedback
        date_rated:
          type: string
          format: date-time
          description: The time the feedback was posted
        rating:
          type: integer
          enum: [0, 1, 2]
          description: The rating for a transaction (0=Praise, 1=Neutral, 2=Complaint)
        rating_of_bs:
          type: string
          enum: [S, B]
          description: Indicates whether the feedback is for a seller or buyer
        comment:
          type: string
          description: A comment associated with the feedback
        reply:
          type: string
          description: A reply for this feedback

    FeedbackCreate:
      type: object
      required:
        - order_id
        - rating
        - comment
      properties:
        order_id:
          type: integer
        rating:
          type: integer
          enum: [0, 1, 2]
        comment:
          type: string

    FeedbackReply:
      type: object
      required:
        - reply
      properties:
        reply:
          type: string

    # COLOR SCHEMAS
    Color:
      type: object
      properties:
        color_id:
          type: integer
          description: ID of the color
        color_name:
          type: string
          description: The name of the color
        color_code:
          type: string
          description: HTML color code of this color
        color_type:
          type: string
          description: The name of the color group that this color belongs to

    # CATEGORY SCHEMAS
    Category:
      type: object
      properties:
        category_id:
          type: integer
          description: The ID of the category
        category_name:
          type: string
          description: The name of the category
        parent_id:
          type: integer
          description: The ID of the parent category (0 if root)

    # PUSH NOTIFICATION SCHEMAS
    Notification:
      type: object
      properties:
        event_type:
          type: string
          enum: [Order, Message, Feedback]
          description: The type of the event
        resource_id:
          type: integer
          description: The ID of the resource associated with the event
        timestamp:
          type: string
          format: date-time
          description: The time the event occurred

    # COUPON SCHEMAS
    Coupon:
      type: object
      properties:
        coupon_id:
          type: integer
          description: Used to uniquely identify the coupon
        date_issued:
          type: string
          format: date-time
          description: Timestamp indicating when this coupon is created
        date_expire:
          type: string
          format: date-time
          description: Time until the coupon can be applied to
        seller_name:
          type: string
          description: The username of the seller in BL
        buyer_name:
          type: string
          description: The username of the buyer in BL
        store_name:
          type: string
          description: The store name displayed on BL store pages
        status:
          type: string
          enum: [O, A, D, E]
          description: Status of the coupon (O=Open, A=Redeemed, D=Declined, E=Expired)
        remarks:
          type: string
          description: A description of the coupon that can be displayed to buyers
        order_id:
          type: integer
          description: Order ID associated with this coupon
        currency_code:
          type: string
          description: The three letter code for the currency
        disp_currency_code:
          type: string
          description: The three letter code for the display currency
        discount_type:
          type: string
          enum: [F, S]
          description: The type of discount (F=Fixed amount, S=Percentage)
        applies_to:
          type: object
          properties:
            type:
              type: string
              enum: [A, E]
              description: The type of restriction (A=Apply to specified, E=Exclude specified)
            item_type:
              type: string
              description: The type of items for discount
            except_on_sale:
              type: boolean
              description: Whether to exclude items on sale
        discount_amount:
          type: number
          format: decimal
        disp_discount_amount:
          type: number
          format: decimal
        discount_rate:
          type: integer
        max_discount_amount:
          type: number
          format: decimal
        disp_max_discount_amount:
          type: number
          format: decimal
        tier_price1:
          type: number
          format: decimal
        disp_tier_price1:
          type: number
          format: decimal
        tier_discount_rate1:
          type: integer
        tier_price2:
          type: number
          format: decimal
        disp_tier_price2:
          type: number
          format: decimal
        tier_discount_rate2:
          type: integer
        tier_price3:
          type: number
          format: decimal
        disp_tier_price3:
          type: number
          format: decimal
        tier_discount_rate3:
          type: integer

    CouponCreate:
      type: object
      properties:
        buyer_name:
          type: string
        remarks:
          type: string
        discount_type:
          type: string
          enum: [F, S]
        discount_amount:
          type: number
          format: decimal
        discount_rate:
          type: integer

    CouponUpdate:
      type: object
      properties:
        remarks:
          type: string
        status:
          type: string
          enum: [O, A, D, E]

    # SETTINGS SCHEMAS
    ShippingMethod:
      type: object
      properties:
        method_id:
          type: integer
          description: Shipping method id
        name:
          type: string
          description: Display name for shipping method
        note:
          type: string
          description: A description of the shipping method
        insurance:
          type: boolean
        is_default:
          type: boolean
        area:
          type: string
          enum: [I, D, B]
          description: Shipping area (I=International, D=Domestic, B=Both)
        is_available:
          type: string

    # MEMBER SCHEMAS
    Rating:
      type: object
      properties:
        user_name:
          type: string
        rating:
          type: array
          items:
            type: array
            items:
              type: string
              enum: [PRAISE, NEUTRAL, COMPLAINT]

    Note:
      type: object
      properties:
        note_id:
          type: integer
        user_name:
          type: string
        note_text:
          type: string
        date_noted:
          type: string

    NoteCreate:
      type: object
      required:
        - note_text
      properties:
        note_text:
          type: string

    NoteUpdate:
      type: object
      properties:
        note_text:
          type: string

    # ITEM MAPPING SCHEMAS
    ItemMapping:
      type: object
      properties:
        item:
          $ref: '#/components/schemas/ItemReference'
        color_id:
          type: integer
          description: Color ID of the item
        color_name:
          type: string
          description: Color name of the item
        element_id:
          type: string
          description: Element ID of the item in specific color