{
  "openapi": "3.1.0",
  "info": {
    "title": "SMB Sales Boost API",
    "version": "1.0.0",
    "description": "REST API for SMB Sales Boost - a B2B lead generation platform providing access to newly registered small and medium businesses across the United States. Search, filter, and export leads with comprehensive company data including contact information, location, and AI-enriched categories. API access requires a Starter, Growth, Scale, Platinum, or Enterprise subscription plan. New users can purchase a subscription entirely via API using the Programmatic Purchase endpoints (no web signup required). A Model Context Protocol (MCP) server is also available at https://smbsalesboost.com/mcp for AI assistant integration - see https://smbsalesboost.com/docs/api/mcp-server for details.",
    "contact": {
      "name": "SMB Sales Boost Support",
      "email": "support@smbsalesboost.com",
      "url": "https://smbsalesboost.com/support"
    },
    "termsOfService": "https://smbsalesboost.com/terms-of-service",
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://smbsalesboost.com/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    { "name": "Programmatic Purchase", "description": "Purchase a subscription and claim your API key entirely via API (no web signup required)" },
    { "name": "User Profile", "description": "View and update your account profile" },
    { "name": "Leads", "description": "Search, filter, and export leads from the database" },
    { "name": "Filter Presets", "description": "Save and manage reusable filter configurations" },
    { "name": "Keyword Lists", "description": "Manage keyword lists for targeted lead searching" },
    { "name": "Email Schedules", "description": "Automated email delivery of leads matching your filters" },
    { "name": "Export Formats", "description": "Customize export column layouts and file settings" },
    { "name": "Export History", "description": "View and re-download past exports" },
    { "name": "Account Settings", "description": "Database switching and account configuration" },
    { "name": "AI Features", "description": "AI-powered category suggestions and keyword generation" },
    { "name": "Credits & Subscription", "description": "Purchase additional credits and manage your subscription" },
    { "name": "Export Blacklist", "description": "Manage leads excluded from future exports" }
  ],
  "paths": {
    "/purchase": {
      "post": {
        "tags": ["Programmatic Purchase"],
        "operationId": "createPurchase",
        "summary": "Start a subscription purchase",
        "description": "Create a Stripe Checkout session for purchasing a subscription entirely via API. No web signup or onboarding required. Returns a checkout URL and a claim token. After payment is completed at the checkout URL, use POST /api/v1/claim-key with the claim token to retrieve your API key. Rate limited to 5 requests per hour per IP.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "plan"],
                "properties": {
                  "email": { "type": "string", "format": "email", "description": "Customer email address", "example": "user@example.com" },
                  "plan": { "type": "string", "enum": ["starter", "growth", "scale", "platinum", "enterprise"], "description": "Subscription plan to purchase", "example": "growth" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Purchase session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "checkoutUrl": { "type": "string", "format": "uri", "description": "Stripe Checkout URL - redirect or open this to complete payment" },
                        "claimToken": { "type": "string", "description": "Claim token (claim_ prefix + 32 random bytes). Use with POST /api/v1/claim-key after payment." },
                        "expiresAt": { "type": "string", "format": "date-time", "description": "When this purchase session expires (24 hours from creation)" },
                        "plan": { "type": "string", "description": "The plan being purchased" },
                        "message": { "type": "string", "description": "Instructions for next steps" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "403": { "description": "Email is forbidden from purchasing" },
          "409": { "description": "An active subscription already exists for this email" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "503": { "description": "Payment processing is not configured" }
        }
      }
    },
    "/claim-key": {
      "post": {
        "tags": ["Programmatic Purchase"],
        "operationId": "claimApiKey",
        "summary": "Claim your API key after payment",
        "description": "After completing payment at the Stripe Checkout URL, use this endpoint with your email and claim token to retrieve your API key. The API key is returned once and cannot be retrieved again. If payment is still pending, returns status 'pending' - poll every 5-10 seconds. Rate limited to 30 requests per hour per IP.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "claimToken"],
                "properties": {
                  "email": { "type": "string", "format": "email", "description": "Email used during purchase", "example": "user@example.com" },
                  "claimToken": { "type": "string", "description": "Claim token received from POST /api/v1/purchase", "example": "claim_abc123..." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key claimed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "apiKey": { "type": "string", "description": "Your API key (smbk_ prefix). Store securely - shown only once." },
                        "plan": { "type": "string", "description": "Subscription plan" },
                        "email": { "type": "string", "description": "Account email" },
                        "message": { "type": "string", "description": "Account setup recommendations" }
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Payment not yet completed - poll again in 5-10 seconds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": { "type": "string", "enum": ["pending"] },
                        "message": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "403": { "description": "Email does not match the purchase record" },
          "404": { "description": "Invalid claim token" },
          "409": { "description": "API key has already been claimed" },
          "410": { "description": "Purchase session has expired" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/me": {
      "get": {
        "tags": ["User Profile"],
        "operationId": "getUserProfile",
        "summary": "Get your profile",
        "description": "Retrieve your user profile including subscription details, account settings, and onboarding status.",
        "responses": {
          "200": {
            "description": "User profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/UserProfile" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "tags": ["User Profile"],
        "operationId": "updateUserProfile",
        "summary": "Update your profile",
        "description": "Update your profile fields. Only provided fields are updated. Allowed fields: firstName, lastName, companyName, companyWebsite.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": { "type": "string", "example": "John" },
                  "lastName": { "type": "string", "example": "Doe" },
                  "companyName": { "type": "string", "example": "Acme Corp" },
                  "companyWebsite": { "type": "string", "example": "https://acme.com" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/UserProfileBasic" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/leads": {
      "get": {
        "tags": ["Leads"],
        "operationId": "searchLeads",
        "summary": "Search and filter leads",
        "description": "Search the lead database with keyword filters, location filters, and other criteria. Requires at least one positive filter (positiveKeywords or column-specific include terms). Uses a two-phase filtering model: Phase 1 (Include) combines all positive keywords with OR logic, Phase 2 (Exclude) removes matches via AND logic.\n\nCredit System: Each new lead returned costs 1 credit. Previously-exported leads are free to re-query. Use maxCredits and maxResults parameters to control credit usage. When either is specified, credit-optimized ordering is applied: new leads (credit-consuming) are sorted first, then previously-exported leads fill remaining slots.\n\nTwo Database Types: The 'home_improvement' database contains contractor and home service businesses with phone numbers as the available contact method. The 'other' database contains all other business types (e.g., accounting firms, marketing agencies, medical practices) with both phone numbers and email addresses as available contact methods.\n\nWildcard Pattern Matching: All keyword and term parameters support `*` as a wildcard character that matches any sequence of characters. For example, `*account*` matches 'accounting', 'accountant', 'accounting firm', etc. Multiple wildcards in a single term let you match compound phrases: `*book*keep*` matches 'bookkeeping', 'bookkeeper services', etc. Other examples: `*market*agency*`, `*tax*prep*`. Keywords without wildcards perform substring matching by default (equivalent to wrapping in `*...*`).",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 }, "description": "Page number" },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100, "maximum": 1000 }, "description": "Results per page (max 1000)" },
          { "name": "database", "in": "query", "schema": { "type": "string", "enum": ["home_improvement", "other"] }, "description": "Database type. 'home_improvement' contains contractors/home service businesses (phone numbers only). 'other' contains all other business types (phone numbers and email addresses). Defaults to your account setting." },
          { "name": "positiveKeywords", "in": "query", "schema": { "type": "string" }, "description": "JSON array of keywords to include. Matched via OR across default columns. Supports * wildcard for flexible pattern matching (e.g., [\"*account*\", \"*book*keep*\", \"*tax*prep*\"]). Keywords without wildcards perform substring matching by default." },
          { "name": "negativeKeywords", "in": "query", "schema": { "type": "string" }, "description": "JSON array of keywords to exclude. Checked against same columns as positive keywords. Supports * wildcard (e.g., [\"*franchise*\"])." },
          { "name": "orColumns", "in": "query", "schema": { "type": "string" }, "description": "JSON array of column names for keyword matching. Overrides defaults for both positive and negative keywords." },
          { "name": "stateInclude", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated US state codes to include (e.g. CA,NY,TX)" },
          { "name": "stateExclude", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated US state codes to exclude" },
          { "name": "cityInclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of cities to include" },
          { "name": "cityExclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of cities to exclude" },
          { "name": "zipInclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of ZIP codes to include" },
          { "name": "zipExclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of ZIP codes to exclude" },
          { "name": "nameIncludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of business name include terms" },
          { "name": "nameExcludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of business name exclude terms" },
          { "name": "sortBy", "in": "query", "schema": { "type": "string" }, "description": "Field to sort by" },
          { "name": "sortOrder", "in": "query", "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" }, "description": "Sort direction" },
          { "name": "minStars", "in": "query", "schema": { "type": "number" }, "description": "Minimum star rating (home_improvement only)" },
          { "name": "maxStars", "in": "query", "schema": { "type": "number" }, "description": "Maximum star rating (home_improvement only)" },
          { "name": "minReviewCount", "in": "query", "schema": { "type": "integer" }, "description": "Minimum review count (home_improvement only)" },
          { "name": "maxReviewCount", "in": "query", "schema": { "type": "integer" }, "description": "Maximum review count (home_improvement only)" },
          { "name": "categoriesIncludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of category include terms (home_improvement only)" },
          { "name": "categoriesExcludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of category exclude terms (home_improvement only)" },
          { "name": "reviewSnippetIncludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of review snippet include terms (home_improvement only)" },
          { "name": "reviewSnippetExcludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of review snippet exclude terms (home_improvement only)" },
          { "name": "profileUrlIncludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of profile URL include terms (home_improvement only)" },
          { "name": "profileUrlExcludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of profile URL exclude terms (home_improvement only)" },
          { "name": "urlIncludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of registered URL include terms (other only)" },
          { "name": "urlExcludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of registered URL exclude terms (other only)" },
          { "name": "crawledUrlIncludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of crawled URL include terms (other only)" },
          { "name": "crawledUrlExcludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of crawled URL exclude terms (other only)" },
          { "name": "descriptionIncludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of short description include terms (other only)" },
          { "name": "descriptionExcludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of short description exclude terms (other only)" },
          { "name": "descriptionLongIncludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of long description include terms (other only)" },
          { "name": "descriptionLongExcludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of long description exclude terms (other only)" },
          { "name": "emailPrimaryInclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of primary email include terms (other only)" },
          { "name": "emailPrimaryExclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of primary email exclude terms (other only)" },
          { "name": "phonePrimaryInclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of primary phone include terms (other only)" },
          { "name": "phonePrimaryExclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of primary phone exclude terms (other only)" },
          { "name": "emailSecondaryInclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of secondary email include terms (other only)" },
          { "name": "emailSecondaryExclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of secondary email exclude terms (other only)" },
          { "name": "phoneSecondaryInclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of secondary phone include terms (other only)" },
          { "name": "phoneSecondaryExclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of secondary phone exclude terms (other only)" },
          { "name": "redirectFilter", "in": "query", "schema": { "type": "string", "enum": ["yes", "no"] }, "description": "Filter by redirect status (other only)" },
          { "name": "updateReasonFilter", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated update reasons to filter by (e.g., Newly Added,Phone Primary)" },
          { "name": "websiteSchemaFilter", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated website schema types to filter by (other only, e.g., LocalBusiness,Organization). Use GET /leads/other/schema-types for available values." },
          { "name": "lastUpdatedFrom", "in": "query", "schema": { "type": "string", "format": "date" }, "description": "Filter leads by Last Updated date (after this date). For Home Improvement leads, Last Updated means a new phone number was detected. For Other leads, it means any of the 5 contact/address fields changed: primary phone, secondary phone, primary email, secondary email, or full address. Also includes newly added records. This is the primary way to identify the freshest leads - many businesses launch a website before adding contact info, so Last Updated captures when that information first becomes available." },
          { "name": "lastUpdatedTo", "in": "query", "schema": { "type": "string", "format": "date" }, "description": "Filter leads by Last Updated date (before this date)." },
          { "name": "timeScrapedFrom", "in": "query", "schema": { "type": "string", "format": "date" }, "description": "Filter leads scraped after this date (ISO 8601 or relative format e.g. rel:30d)" },
          { "name": "timeScrapedTo", "in": "query", "schema": { "type": "string", "format": "date" }, "description": "Filter leads scraped before this date (ISO 8601)" },
          { "name": "registrationDateFrom", "in": "query", "schema": { "type": "string", "format": "date" }, "description": "Filter by domain registration date start (other only). Accepts ISO or relative format (e.g. rel:6m)" },
          { "name": "registrationDateTo", "in": "query", "schema": { "type": "string", "format": "date" }, "description": "Filter by domain registration date end (other only, ISO 8601)" },
          { "name": "search", "in": "query", "schema": { "type": "string" }, "description": "Full-text search across all fields" },
          { "name": "countryInclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of countries to include" },
          { "name": "countryExclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of countries to exclude" },
          { "name": "maxResults", "in": "query", "schema": { "type": "integer", "minimum": 1 }, "description": "Maximum total leads to return (new + previously-exported). New leads are prioritized first, then previously-exported leads fill remaining slots. When specified, credit-optimized ordering is applied." },
          { "name": "maxCredits", "in": "query", "schema": { "type": "integer", "minimum": 0 }, "description": "Maximum number of credits to spend on this query. Only new (credit-consuming) leads count toward this cap. Previously-exported leads are included for free up to the maxResults or page limit. Set to 0 to only receive previously-exported leads at no credit cost. If omitted, no credit cap is applied (standard credit deduction)." }
        ],
        "responses": {
          "200": {
            "description": "Leads matching the search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "leads": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Lead" }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "page": { "type": "integer", "description": "Current page number" },
                            "limit": { "type": "integer", "description": "Results per page" },
                            "total": { "type": "integer", "description": "Total matching leads before pagination" },
                            "pages": { "type": "integer", "description": "Total number of pages" }
                          }
                        },
                        "databaseType": { "type": "string", "enum": ["home_improvement", "other"] },
                        "creditsUsed": { "type": "integer", "description": "Number of credits consumed by this query (only present for credit-plan users)" },
                        "creditsRemaining": { "type": "integer", "description": "Total credits remaining after this query (only present for credit-plan users)" },
                        "maxResults": { "type": "integer", "description": "Echo of maxResults parameter (only present when maxResults was specified)" },
                        "maxCredits": { "type": "integer", "description": "Echo of maxCredits parameter (only present when maxCredits was specified)" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "description": "Insufficient credits. Use maxCredits or maxResults to limit credit usage, reduce page size with limit parameter, or purchase more credits via POST /purchase-credits." }
        }
      }
    },
    "/leads/preview": {
      "get": {
        "tags": ["Leads"],
        "operationId": "previewLeads",
        "summary": "Preview leads with masked contact info (no credits)",
        "description": "Preview leads matching your filters with masked/hashed contact information. Supports the same filters as GET /leads (keywords, location, company name, URLs, descriptions) except contact-field filters (email/phone include/exclude are not available on preview). Does NOT consume any credits. Use this to test your filters and evaluate result quality before committing credits on the full GET /leads endpoint. Contact fields (phone numbers and email addresses) are returned in a masked format (e.g., '(5**) ***-**89', 'j***@***.com'). Response includes preview: true flag.",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 }, "description": "Page number" },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100, "maximum": 1000 }, "description": "Results per page (max 1000)" },
          { "name": "database", "in": "query", "schema": { "type": "string", "enum": ["home_improvement", "other"] }, "description": "Database type. Defaults to your account setting." },
          { "name": "positiveKeywords", "in": "query", "schema": { "type": "string" }, "description": "JSON array of keywords to include. Supports * wildcard." },
          { "name": "negativeKeywords", "in": "query", "schema": { "type": "string" }, "description": "JSON array of keywords to exclude. Supports * wildcard." },
          { "name": "orColumns", "in": "query", "schema": { "type": "string" }, "description": "JSON array of column names for keyword matching." },
          { "name": "stateInclude", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated US state codes to include" },
          { "name": "stateExclude", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated US state codes to exclude" },
          { "name": "cityInclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of cities to include" },
          { "name": "cityExclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of cities to exclude" },
          { "name": "zipInclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of ZIP codes to include" },
          { "name": "zipExclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of ZIP codes to exclude" },
          { "name": "nameIncludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of business name include terms" },
          { "name": "nameExcludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of business name exclude terms" },
          { "name": "sortBy", "in": "query", "schema": { "type": "string" }, "description": "Field to sort by" },
          { "name": "sortOrder", "in": "query", "schema": { "type": "string", "enum": ["asc", "desc"], "default": "desc" }, "description": "Sort direction" },
          { "name": "minStars", "in": "query", "schema": { "type": "number" }, "description": "Minimum star rating (home_improvement only)" },
          { "name": "maxStars", "in": "query", "schema": { "type": "number" }, "description": "Maximum star rating (home_improvement only)" },
          { "name": "minReviewCount", "in": "query", "schema": { "type": "integer" }, "description": "Minimum review count (home_improvement only)" },
          { "name": "maxReviewCount", "in": "query", "schema": { "type": "integer" }, "description": "Maximum review count (home_improvement only)" },
          { "name": "categoriesIncludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of category include terms (home_improvement only)" },
          { "name": "categoriesExcludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of category exclude terms (home_improvement only)" },
          { "name": "reviewSnippetIncludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of review snippet include terms (home_improvement only)" },
          { "name": "reviewSnippetExcludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of review snippet exclude terms (home_improvement only)" },
          { "name": "profileUrlIncludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of profile URL include terms (home_improvement only)" },
          { "name": "profileUrlExcludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of profile URL exclude terms (home_improvement only)" },
          { "name": "urlIncludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of registered URL include terms (other only)" },
          { "name": "urlExcludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of registered URL exclude terms (other only)" },
          { "name": "crawledUrlIncludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of crawled URL include terms (other only)" },
          { "name": "crawledUrlExcludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of crawled URL exclude terms (other only)" },
          { "name": "descriptionIncludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of short description include terms (other only)" },
          { "name": "descriptionExcludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of short description exclude terms (other only)" },
          { "name": "descriptionLongIncludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of long description include terms (other only)" },
          { "name": "descriptionLongExcludeTerms", "in": "query", "schema": { "type": "string" }, "description": "JSON array of long description exclude terms (other only)" },
          { "name": "redirectFilter", "in": "query", "schema": { "type": "string", "enum": ["yes", "no"] }, "description": "Filter by redirect status (other only)" },
          { "name": "updateReasonFilter", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated update reasons to filter by" },
          { "name": "websiteSchemaFilter", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated website schema types to filter by (other only)" },
          { "name": "lastUpdatedFrom", "in": "query", "schema": { "type": "string", "format": "date" }, "description": "Filter leads updated after this date" },
          { "name": "lastUpdatedTo", "in": "query", "schema": { "type": "string", "format": "date" }, "description": "Filter leads updated before this date" },
          { "name": "timeScrapedFrom", "in": "query", "schema": { "type": "string", "format": "date" }, "description": "Filter leads scraped after this date" },
          { "name": "timeScrapedTo", "in": "query", "schema": { "type": "string", "format": "date" }, "description": "Filter leads scraped before this date" },
          { "name": "registrationDateFrom", "in": "query", "schema": { "type": "string", "format": "date" }, "description": "Filter by domain registration date start (other only)" },
          { "name": "registrationDateTo", "in": "query", "schema": { "type": "string", "format": "date" }, "description": "Filter by domain registration date end (other only)" },
          { "name": "search", "in": "query", "schema": { "type": "string" }, "description": "Full-text search across all fields" },
          { "name": "countryInclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of countries to include" },
          { "name": "countryExclude", "in": "query", "schema": { "type": "string" }, "description": "JSON array of countries to exclude" }
        ],
        "responses": {
          "200": {
            "description": "Preview leads with masked contact information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "leads": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Lead" },
                          "description": "Leads with masked contact fields (phone numbers and emails are hashed/masked)"
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "page": { "type": "integer" },
                            "limit": { "type": "integer" },
                            "total": { "type": "integer" },
                            "pages": { "type": "integer" }
                          }
                        },
                        "databaseType": { "type": "string", "enum": ["home_improvement", "other"] },
                        "preview": { "type": "boolean", "description": "Always true for preview responses", "example": true }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/leads/other/schema-types": {
      "get": {
        "tags": ["Leads"],
        "operationId": "getSchemaTypes",
        "summary": "List available website schema types",
        "description": "Returns a sorted list of all distinct website schema types found in the Other leads database. Use these values with the websiteSchemaFilter parameter on GET /leads.",
        "responses": {
          "200": {
            "description": "Array of schema type strings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "type": "string" },
                  "example": ["AutoDealer", "Dentist", "HomeAndConstructionBusiness", "LegalService", "LocalBusiness", "MedicalBusiness", "Organization", "Restaurant"]
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/leads/export": {
      "post": {
        "tags": ["Leads"],
        "operationId": "exportLeads",
        "summary": "Export leads to CSV/JSON/XLSX",
        "description": "Export leads matching your filters as downloadable files. Supports CSV, JSON, and XLSX formats. Up to 10,000 leads per export. For credit-plan users (Starter, Growth, Scale, Platinum, Enterprise), each net-new lead exported deducts 1 credit. Rate limited to 1 export per 5 minutes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "database": { "type": "string", "enum": ["home_improvement", "other"] },
                  "filters": {
                    "type": "object",
                    "description": "Same filter parameters as GET /leads (positiveKeywords, negativeKeywords, stateInclude, etc.)"
                  },
                  "selectedIds": {
                    "type": "array",
                    "items": { "type": "integer" },
                    "description": "Specific lead IDs to export (alternative to filters)"
                  },
                  "formatId": {
                    "type": "integer",
                    "description": "Export format template ID. Uses default format if not specified."
                  },
                  "maxLeads": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Maximum number of leads to include in this export. Overflow leads are stored in the lead reservoir for the next export. If omitted, all matching leads are exported."
                  },
                  "maxResults": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Maximum total leads to return (both new and previously-exported). New leads (credit-consuming) are prioritized first, then previously-exported leads fill remaining slots. If omitted, all matching leads are included."
                  },
                  "maxCredits": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Maximum number of credits to spend on this export. Only new (credit-consuming) leads count toward this cap. Previously-exported leads are included for free up to the maxResults limit. Set to 0 to only receive previously-exported leads. If omitted, no credit cap is applied (standard credit deduction)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "files": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "fileName": { "type": "string" },
                              "fileType": { "type": "string" },
                              "data": { "type": "string", "description": "Base64-encoded file content" },
                              "size": { "type": "integer" }
                            }
                          }
                        },
                        "leadCount": { "type": "integer" },
                        "exportId": { "type": "integer" },
                        "databaseType": { "type": "string" },
                        "creditsUsed": { "type": "integer", "description": "Number of credits deducted for net-new leads (credit-plan users only)" },
                        "creditsRemaining": { "type": "integer", "description": "Remaining credit balance after this export (credit-plan users only)" },
                        "maxLeads": { "type": "integer", "description": "Echo of maxLeads parameter (only present when maxLeads was specified)" },
                        "overflowCount": { "type": "integer", "description": "Number of leads stored in the reservoir due to maxLeads cap (only present when maxLeads is specified)" },
                        "maxResults": { "type": "integer", "description": "Echo of maxResults parameter (only present when maxResults was specified)" },
                        "maxCredits": { "type": "integer", "description": "Echo of maxCredits parameter (only present when maxCredits was specified)" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "description": "Insufficient credits to complete this export (credit-plan users only)" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/filter-presets": {
      "get": {
        "tags": ["Filter Presets"],
        "operationId": "listFilterPresets",
        "summary": "List your filter presets",
        "description": "Retrieve all saved filter presets for your account.",
        "responses": {
          "200": {
            "description": "Filter presets retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/FilterPreset" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Filter Presets"],
        "operationId": "createFilterPreset",
        "summary": "Create a filter preset",
        "description": "Save a new reusable filter configuration.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/FilterPresetInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Filter preset created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/FilterPreset" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/filter-presets/{id}": {
      "delete": {
        "tags": ["Filter Presets"],
        "operationId": "deleteFilterPreset",
        "summary": "Delete a filter preset",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/DeleteSuccess" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/keyword-lists": {
      "get": {
        "tags": ["Keyword Lists"],
        "operationId": "listKeywordLists",
        "summary": "List your keyword lists",
        "description": "Retrieve all saved keyword lists.",
        "responses": {
          "200": {
            "description": "Keyword lists retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/KeywordList" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Keyword Lists"],
        "operationId": "createKeywordList",
        "summary": "Create a keyword list",
        "description": "Create a new keyword list with include and exclude keywords.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/KeywordListInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Keyword list created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/KeywordList" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/keyword-lists/{id}": {
      "put": {
        "tags": ["Keyword Lists"],
        "operationId": "updateKeywordList",
        "summary": "Update a keyword list",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/KeywordListInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Keyword list updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/KeywordList" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["Keyword Lists"],
        "operationId": "deleteKeywordList",
        "summary": "Delete a keyword list",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/DeleteSuccess" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/email-schedules": {
      "get": {
        "tags": ["Email Schedules"],
        "operationId": "listEmailSchedules",
        "summary": "List your email schedules",
        "description": "Retrieve all configured email delivery schedules.",
        "responses": {
          "200": {
            "description": "Email schedules retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/EmailSchedule" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Email Schedules"],
        "operationId": "createEmailSchedule",
        "summary": "Create an email schedule",
        "description": "Set up automated email delivery of leads matching a filter preset. Requires an active subscription.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EmailScheduleInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email schedule created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/EmailSchedule" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/email-schedules/{id}": {
      "patch": {
        "tags": ["Email Schedules"],
        "operationId": "updateEmailSchedule",
        "summary": "Update an email schedule",
        "description": "Update schedule settings. Only provided fields are updated.",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EmailScheduleUpdate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email schedule updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/EmailSchedule" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["Email Schedules"],
        "operationId": "deleteEmailSchedule",
        "summary": "Delete an email schedule",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/DeleteSuccess" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/export-formats": {
      "get": {
        "tags": ["Export Formats"],
        "operationId": "listExportFormats",
        "summary": "List your export formats",
        "description": "Retrieve all custom export format templates.",
        "responses": {
          "200": {
            "description": "Export formats retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ExportFormat" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Export Formats"],
        "operationId": "createExportFormat",
        "summary": "Create an export format",
        "description": "Create a custom export format template with column mapping and file settings.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ExportFormatInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export format created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/ExportFormat" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/export-formats/{id}": {
      "get": {
        "tags": ["Export Formats"],
        "operationId": "getExportFormat",
        "summary": "Get an export format",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "Export format retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/ExportFormat" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "tags": ["Export Formats"],
        "operationId": "updateExportFormat",
        "summary": "Update an export format",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ExportFormatUpdate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export format updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/ExportFormat" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["Export Formats"],
        "operationId": "deleteExportFormat",
        "summary": "Delete an export format",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/DeleteSuccess" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/export-formats/{id}/set-default": {
      "post": {
        "tags": ["Export Formats"],
        "operationId": "setDefaultExportFormat",
        "summary": "Set default export format",
        "description": "Set an export format as your default for all exports.",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "Default export format set",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/export-history": {
      "get": {
        "tags": ["Export History"],
        "operationId": "listExportHistory",
        "summary": "List your export history",
        "description": "View past exports with details including date, row count, and filters used.",
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 50 }, "description": "Number of entries to return" }
        ],
        "responses": {
          "200": {
            "description": "Export history retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ExportHistoryEntry" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/export-history/{id}/download": {
      "get": {
        "tags": ["Export History"],
        "operationId": "downloadExport",
        "summary": "Download a previous export",
        "description": "Re-download a previously exported file. Exports expire after 7 days.",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "File download",
            "content": {
              "text/csv": { "schema": { "type": "string", "format": "binary" } },
              "application/json": { "schema": { "type": "string", "format": "binary" } },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": { "schema": { "type": "string", "format": "binary" } }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "410": {
            "description": "Export file has expired",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/settings/database": {
      "get": {
        "tags": ["Account Settings"],
        "operationId": "getDatabaseSettings",
        "summary": "Get database settings",
        "description": "View your current database type and whether you can switch.",
        "responses": {
          "200": {
            "description": "Database settings retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "currentDatabase": { "type": "string", "enum": ["home_improvement", "other"] },
                        "canSwitch": { "type": "boolean" },
                        "daysRemaining": { "type": "integer", "description": "Days until switching is allowed again" },
                        "lastSwitchedAt": { "type": "string", "format": "date-time", "nullable": true }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/settings/switch-database": {
      "post": {
        "tags": ["Account Settings"],
        "operationId": "switchDatabase",
        "summary": "Switch lead database",
        "description": "Switch between 'home_improvement' and 'other' databases. Incompatible email schedules will be automatically paused.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["smbType"],
                "properties": {
                  "smbType": { "type": "string", "enum": ["home_improvement", "other"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Database switched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": { "type": "string" },
                        "newDatabase": { "type": "string" },
                        "switchedAt": { "type": "string", "format": "date-time" },
                        "pausedSchedules": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/ai/suggest-categories": {
      "post": {
        "tags": ["AI Features"],
        "operationId": "suggestCategories",
        "summary": "AI category suggestions",
        "description": "Get AI-powered SMB category suggestions based on your company profile. Optionally analyzes your company website for better results. Rate limited to 5 requests per minute.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["companyName", "companyDescription", "productService"],
                "properties": {
                  "companyName": { "type": "string", "description": "Your company name", "example": "Acme Business Solutions" },
                  "companyDescription": { "type": "string", "description": "What your company does", "example": "We provide accounting software and bookkeeping services to small businesses" },
                  "productService": { "type": "string", "description": "Specific product or service you sell", "example": "Cloud accounting software, payroll services, tax preparation" },
                  "companyWebsite": { "type": "string", "description": "Your company website URL (optional, used for AI analysis)", "example": "https://acmebusinesssolutions.com" },
                  "excludeCategories": { "type": "array", "items": { "type": "string" }, "description": "Categories to exclude from suggestions" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Category suggestions generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "categories": { "type": "array", "items": { "type": "string" }, "description": "Suggested SMB categories" },
                        "websiteAnalysisFailed": { "type": "boolean" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/ai/generate-keywords": {
      "post": {
        "tags": ["AI Features"],
        "operationId": "generateKeywords",
        "summary": "AI keyword generation",
        "description": "Trigger AI-powered keyword generation based on your company profile and target categories (up to 3 per list). Keywords are generated as wildcard patterns and saved to keyword lists with auto-refine enabled by default. Runs asynchronously - use /ai/keyword-status to check progress. Rate limited to 5 requests per minute.",
        "responses": {
          "200": {
            "description": "Keyword generation started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": { "type": "string", "example": "Keyword generation started" },
                        "status": { "type": "string", "example": "pending" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/purchase-credits": {
      "post": {
        "tags": ["Credits & Subscription"],
        "operationId": "purchaseCredits",
        "summary": "Purchase additional permanent credits",
        "description": "Purchase permanent credits using your saved payment method (Stripe off-session charge). Provide either creditCount (minimum 100) or dollarAmount (minimum $1). Maximum per purchase is 5x your plan's monthly allocation (Starter: 2,500, Growth: 10,000, Scale: 50,000, Platinum: 500,000, Enterprise: 1,250,000). When using dollarAmount, credits are calculated from your plan's overage rate and you are charged only for whole credits. Any fractional cents are rounded down in your favor. Pricing: Starter 10¢, Growth 7.5¢, Scale 5¢, Platinum 3¢, Enterprise 2¢ per credit.",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "creditCount": { "type": "integer", "minimum": 100, "description": "Number of credits to purchase (min 100, max 5x your plan's monthly credits). Mutually exclusive with dollarAmount.", "example": 500 },
                  "dollarAmount": { "type": "number", "minimum": 1, "description": "Dollar amount to spend on credits (minimum $1). Credits are calculated from your plan rate and you are charged for whole credits only. Mutually exclusive with creditCount.", "example": 50 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credits purchased successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "success": { "type": "boolean" },
                        "creditsAdded": { "type": "integer" },
                        "totalPermanentCredits": { "type": "integer" },
                        "amountCharged": { "type": "string" },
                        "amountChargedCents": { "type": "integer" },
                        "pricePerCredit": { "type": "string" },
                        "stripePaymentIntentId": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "description": "Payment failed. Card was declined or requires authentication. Update your payment method via the dashboard and retry." },
          "403": { "description": "Not on an active credit plan" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/auto-top-up": {
      "get": {
        "tags": ["Credits & Subscription"],
        "operationId": "getAutoTopUp",
        "summary": "Get auto top-up configuration",
        "description": "Get your auto top-up configuration including trigger threshold, purchase amount, monthly spending cap, and current month's usage.",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Auto top-up configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "enabled": { "type": "boolean" },
                        "triggerType": { "type": "string", "enum": ["credits", "dollars"], "nullable": true },
                        "triggerAmount": { "type": "integer", "nullable": true },
                        "purchaseType": { "type": "string", "enum": ["credits", "dollars"], "nullable": true },
                        "purchaseAmount": { "type": "integer", "nullable": true },
                        "capType": { "type": "string", "enum": ["credits", "dollars"], "nullable": true },
                        "capAmount": { "type": "integer", "nullable": true },
                        "monthlyUsage": {
                          "type": "object",
                          "properties": {
                            "creditsAutoTopUp": { "type": "integer", "description": "Credits purchased via auto top-up this month" },
                            "amountAutoTopUp": { "type": "string", "description": "Dollar amount spent on auto top-up this month (e.g. '$12.50')" },
                            "amountAutoTopUpCents": { "type": "integer", "description": "Amount spent on auto top-up this month in cents" },
                            "capResetAt": { "type": "string", "format": "date-time", "nullable": true, "description": "When the monthly usage cap resets" }
                          }
                        },
                        "pricePerCredit": { "type": "string", "nullable": true, "description": "Price per credit for your plan (e.g. '$0.10')" },
                        "pricePerCreditCents": { "type": "number", "nullable": true, "description": "Price per credit in cents (e.g. 10, 7.5, 5, 3, or 2)" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "description": "Not on an active credit plan" }
        }
      },
      "patch": {
        "tags": ["Credits & Subscription"],
        "operationId": "updateAutoTopUp",
        "summary": "Configure auto top-up",
        "description": "Configure automatic credit purchases. When enabled, credits are purchased automatically when your permanent credit balance falls below the trigger threshold. Supports trigger by credits or dollars, purchase by credits or dollars, and an optional monthly spending cap.",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["enabled"],
                "properties": {
                  "enabled": { "type": "boolean", "description": "Enable or disable auto top-up" },
                  "triggerType": { "type": "string", "enum": ["credits", "dollars"], "description": "What the trigger threshold measures" },
                  "triggerAmount": { "type": "integer", "minimum": 1, "description": "Threshold value that triggers a purchase" },
                  "purchaseType": { "type": "string", "enum": ["credits", "dollars"], "description": "Whether to buy by credit count or dollar amount" },
                  "purchaseAmount": { "type": "integer", "minimum": 1, "description": "Amount to purchase (min 100 credits or $1)" },
                  "capType": { "type": "string", "enum": ["credits", "dollars"], "nullable": true, "description": "Monthly cap type, or null to disable" },
                  "capAmount": { "type": "integer", "minimum": 1, "nullable": true, "description": "Monthly cap value" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto top-up configuration updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "enabled": { "type": "boolean" },
                        "triggerType": { "type": "string", "enum": ["credits", "dollars"], "nullable": true },
                        "triggerAmount": { "type": "integer", "nullable": true },
                        "purchaseType": { "type": "string", "enum": ["credits", "dollars"], "nullable": true },
                        "purchaseAmount": { "type": "integer", "nullable": true },
                        "capType": { "type": "string", "enum": ["credits", "dollars"], "nullable": true },
                        "capAmount": { "type": "integer", "nullable": true },
                        "monthlyUsage": {
                          "type": "object",
                          "properties": {
                            "creditsAutoTopUp": { "type": "integer", "description": "Credits purchased via auto top-up this month" },
                            "amountAutoTopUp": { "type": "string", "description": "Dollar amount spent on auto top-up this month (e.g. '$12.50')" },
                            "amountAutoTopUpCents": { "type": "integer", "description": "Amount spent on auto top-up this month in cents" },
                            "capResetAt": { "type": "string", "format": "date-time", "nullable": true, "description": "When the monthly usage cap resets" }
                          }
                        },
                        "pricePerCredit": { "type": "string", "nullable": true, "description": "Price per credit for your plan (e.g. '$0.10')" },
                        "pricePerCreditCents": { "type": "number", "nullable": true, "description": "Price per credit in cents (e.g. 10, 7.5, 5, 3, or 2)" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "description": "Not on an active credit plan" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/subscription/cancel": {
      "post": {
        "tags": ["Credits & Subscription"],
        "operationId": "cancelSubscription",
        "summary": "Cancel subscription",
        "description": "Cancel your subscription at the end of the current billing period. Your access continues until the period ends.",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Subscription cancellation scheduled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": { "type": "string" },
                        "cancelAtPeriodEnd": { "type": "boolean" },
                        "currentPeriodEnd": { "type": "integer" },
                        "status": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "description": "No active subscription found" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/subscription/change-plan": {
      "post": {
        "tags": ["Credits & Subscription"],
        "operationId": "changePlan",
        "summary": "Change subscription plan",
        "description": "Upgrade or downgrade your subscription plan. Available target plans: starter, growth, scale. On upgrade, unused monthly credits are automatically converted to permanent credits (capped at current plan's standard allocation). Card on file is charged the prorated difference for upgrades; downgrades take effect at renewal.",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["targetPlan"],
                "properties": {
                  "targetPlan": {
                    "type": "string",
                    "enum": ["starter", "growth", "scale"],
                    "description": "The plan to switch to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan changed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": { "type": "string" },
                        "changeType": { "type": "string", "enum": ["upgrade", "downgrade"] },
                        "previousPlan": { "type": "string" },
                        "newPlan": { "type": "string" },
                        "newMonthlyCredits": { "type": "integer", "description": "Only present on upgrades" },
                        "permanentCreditsAdded": { "type": "integer", "description": "Only present on upgrades" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "description": "No active subscription found" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/export-blacklist": {
      "get": {
        "tags": ["Export Blacklist"],
        "operationId": "listExportBlacklist",
        "summary": "List blacklisted entries",
        "description": "Retrieve all leads/domains on your export blacklist.",
        "responses": {
          "200": {
            "description": "Blacklist entries retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/BlacklistEntry" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Export Blacklist"],
        "operationId": "addToBlacklist",
        "summary": "Add to blacklist",
        "description": "Add a lead or domain to your export blacklist. Supports single entries or batch adding via the 'entries' array.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/BlacklistEntryInput" },
                  {
                    "type": "object",
                    "properties": {
                      "entries": {
                        "type": "array",
                        "items": { "$ref": "#/components/schemas/BlacklistEntryInput" }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blacklist entry/entries added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "oneOf": [
                        { "$ref": "#/components/schemas/BlacklistEntry", "description": "Single entry added (when using single value/entryType request)" },
                        { "type": "array", "items": { "$ref": "#/components/schemas/BlacklistEntry" }, "description": "Array of entries added (when using batch entries request)" }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/export-blacklist/{id}": {
      "delete": {
        "tags": ["Export Blacklist"],
        "operationId": "removeFromBlacklist",
        "summary": "Remove from blacklist",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/DeleteSuccess" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/ai/auto-refine/status": {
      "get": {
        "tags": ["AI Features"],
        "operationId": "getAutoRefineStatus",
        "summary": "Get auto-refine status",
        "description": "Get auto-refine status for keyword lists. Optionally filter by a specific list ID. Returns refinement progress, quality scores per round, timing, and paired list information. The auto-refine system uses a single-pass 4-phase process: Phase 1 validates each positive keyword individually (50% threshold, up to 2 variation attempts), Phase 1B discovers up to 15 new positives (5-added target), Phase 2 checks negative keyword collateral damage (40% threshold), Phase 2B discovers up to 5 new negatives. High-volume keywords use multi-sample scoring (3x50 leads, median). Final quality score (1-10) determines if retry pass needed.",
        "parameters": [
          { "name": "listId", "in": "query", "required": false, "schema": { "type": "integer" }, "description": "Filter by specific keyword list ID" }
        ],
        "responses": {
          "200": {
            "description": "Auto-refine status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "type": "array",
                          "description": "Array of all keyword lists with refine info (when no listId specified)",
                          "items": { "$ref": "#/components/schemas/AutoRefineStatus" }
                        },
                        {
                          "$ref": "#/components/schemas/AutoRefineStatus",
                          "description": "Single list refine info (when listId specified)"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "description": "Keyword list not found (when listId specified)" }
        }
      }
    },
    "/ai/auto-refine/enable": {
      "post": {
        "tags": ["AI Features"],
        "operationId": "enableAutoRefine",
        "summary": "Enable AI auto-refine",
        "description": "Enable AI auto-refine for a keyword list and start the single-pass 4-phase optimization process. Phase 1 validates each positive keyword individually (50% applicability threshold) with up to 2 variation attempts (3 candidates each). Phase 1B discovers up to 15 new positive keywords in a single AI call, testing all concurrently (5-added target based on incremental lead contribution). Phase 2 checks each negative keyword for collateral damage (40% threshold) with the same variation strategy. Phase 2B samples ~80 leads and discovers up to 5 new negative keywords. High-volume keywords use multi-sample scoring (3x50 leads, median). Final quality score (1-10, median of 3) determines if retry needed (score <=5). Auto-refine turns off when complete. Each list uses its sourceCategories (max 3) for accurate AI scoring. Rate limited to 5 requests per minute.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["listId"],
                "properties": {
                  "listId": { "type": "integer", "description": "Keyword list ID to enable auto-refine for" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto-refine enabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": { "type": "string" },
                        "listId": { "type": "integer" },
                        "autoRefineEnabled": { "type": "boolean" },
                        "refinementStatus": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/ai/auto-refine/disable": {
      "post": {
        "tags": ["AI Features"],
        "operationId": "disableAutoRefine",
        "summary": "Disable AI auto-refine",
        "description": "Disable AI auto-refine for a keyword list. Pauses any in-progress refinement and stops future optimization runs. Rate limited to 60 requests per minute.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["listId"],
                "properties": {
                  "listId": { "type": "integer", "description": "Keyword list ID to disable auto-refine for" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto-refine disabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": { "type": "string" },
                        "listId": { "type": "integer" },
                        "autoRefineEnabled": { "type": "boolean" },
                        "refinementStatus": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/ai/keyword-status": {
      "get": {
        "tags": ["AI Features"],
        "operationId": "getKeywordStatus",
        "summary": "Check keyword generation job status",
        "description": "Check the status of keyword generation jobs. Rate limited to 60 requests per minute.",
        "responses": {
          "200": {
            "description": "Keyword generation status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "hasJobs": { "type": "boolean" },
                        "jobs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": { "type": "integer" },
                              "status": { "type": "string" },
                              "refinementStatus": { "type": "string" },
                              "currentRound": { "type": "integer" },
                              "maxRounds": { "type": "integer" },
                              "createdAt": { "type": "string", "format": "date-time" },
                              "lastRefinedAt": { "type": "string", "format": "date-time", "nullable": true }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/email-schedules/{id}/trigger": {
      "post": {
        "tags": ["Email Schedules"],
        "operationId": "triggerEmailSchedule",
        "summary": "Manually trigger an email schedule",
        "description": "Manually trigger an active email schedule to send immediately. Rate limited to 1 request per 5 minutes.",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "Email schedule triggered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": { "type": "string" },
                        "scheduleId": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key with 'smbk_' prefix. Generate from Dashboard > API tab. Available on Starter, Growth, Scale, Platinum, and Enterprise plans."
      }
    },
    "schemas": {
      "AutoRefineStatus": {
        "type": "object",
        "properties": {
          "listId": { "type": "integer", "description": "Keyword list ID" },
          "name": { "type": "string", "description": "Keyword list name" },
          "type": { "type": "string", "enum": ["positive", "negative"], "description": "Keyword list type" },
          "autoRefineEnabled": { "type": "boolean", "description": "Whether auto-refine is enabled" },
          "refinementStatus": { "type": "string", "enum": ["running", "paused", "completed", "failed"], "nullable": true, "description": "Current refinement status" },
          "currentRound": { "type": "integer", "description": "Current refinement round (0 if not started)" },
          "maxRounds": { "type": "integer", "description": "Maximum number of refinement rounds (default 10)" },
          "scoresPerRound": {
            "type": "array",
            "description": "Quality scores from each completed round. Uses multi-sample scoring (3×50 leads, median) for high-volume keywords.",
            "items": {
              "type": "object",
              "properties": {
                "round": { "type": "integer", "description": "Round number" },
                "score": { "type": "number", "description": "Quality score (1-10)" },
                "reasoning": { "type": "string", "description": "Explanation of the score, e.g. 'Median of [6, 7, 5]'" }
              }
            }
          },
          "lastRefinedAt": { "type": "string", "format": "date-time", "nullable": true, "description": "ISO timestamp of last refinement run" },
          "pairedListId": { "type": "integer", "nullable": true, "description": "ID of the paired positive/negative keyword list (refined together)" }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "firstName": { "type": "string", "nullable": true },
          "lastName": { "type": "string", "nullable": true },
          "companyName": { "type": "string", "nullable": true },
          "companyWebsite": { "type": "string", "nullable": true },
          "smbType": { "type": "string", "enum": ["home_improvement", "other"] },
          "subscriptionPlan": { "type": "string", "enum": ["free", "starter", "growth", "scale", "platinum", "enterprise"] },
          "subscriptionStatus": { "type": "string", "nullable": true },
          "isSubscribed": { "type": "boolean" },
          "freeLeadsUsed": { "type": "integer" },
          "totalLeadsExported": { "type": "integer", "description": "Total leads exported across all time" },
          "monthlyLeadsExported": { "type": "integer", "description": "Leads exported in the current billing cycle" },
          "onboardingCompleted": { "type": "boolean" },
          "targetCategories": { "type": "array", "items": { "type": "string" }, "nullable": true },
          "targetLocations": { "type": "array", "items": { "type": "string" }, "nullable": true },
          "monthlyCredits": { "type": "integer", "description": "Total monthly credit allocation for the plan" },
          "monthlyCreditsUsed": { "type": "integer", "description": "Credits used this billing cycle" },
          "monthlyCreditsRemaining": { "type": "integer", "description": "Monthly credits remaining this billing cycle" },
          "permanentCredits": { "type": "integer", "description": "Purchased permanent credits (never expire, used after monthly credits)" },
          "totalCreditsRemaining": { "type": "integer", "description": "Combined remaining credits (monthly + permanent)" },
          "creditOverageRate": { "type": "number", "description": "Cost per additional credit in cents (e.g., 10 = $0.10 for Starter, 7.5 = $0.075 for Growth)" },
          "autoTopUp": {
            "type": "object",
            "description": "Auto top-up configuration for automatic credit purchases",
            "properties": {
              "enabled": { "type": "boolean" },
              "triggerType": { "type": "string", "enum": ["credits", "dollars"], "nullable": true },
              "triggerAmount": { "type": "integer", "nullable": true },
              "purchaseType": { "type": "string", "enum": ["credits", "dollars"], "nullable": true },
              "purchaseAmount": { "type": "integer", "nullable": true },
              "capType": { "type": "string", "enum": ["credits", "dollars"], "nullable": true },
              "capAmount": { "type": "integer", "nullable": true }
            }
          }
        }
      },
      "UserProfileBasic": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "email": { "type": "string" },
          "firstName": { "type": "string", "nullable": true },
          "lastName": { "type": "string", "nullable": true },
          "companyName": { "type": "string", "nullable": true },
          "companyWebsite": { "type": "string", "nullable": true }
        }
      },
      "Lead": {
        "type": "object",
        "description": "Lead data. Fields vary by database type and use display-name keys (with spaces). See HomeImprovementLead and OtherLead for the exact fields returned by each database type.",
        "oneOf": [
          { "$ref": "#/components/schemas/HomeImprovementLead" },
          { "$ref": "#/components/schemas/OtherLead" }
        ]
      },
      "HomeImprovementLead": {
        "type": "object",
        "description": "Lead from the Home Improvement database (Yelp-sourced). Phone numbers are the primary contact info. Field keys use display names with spaces.",
        "properties": {
          "id": { "type": "integer" },
          "Last Updated": { "type": "string", "nullable": true, "description": "Date the lead record was last updated. A new phone number was detected, or the record was newly added. Primary way to identify fresh, actionable leads." },
          "Profile URL": { "type": "string", "nullable": true, "description": "Yelp profile URL" },
          "Company Name": { "type": "string", "nullable": true, "description": "Business name" },
          "Stars": { "type": "number", "nullable": true, "description": "Yelp star rating (1-5)" },
          "Review Count": { "type": "integer", "nullable": true, "description": "Number of Yelp reviews" },
          "Categories": { "type": "string", "nullable": true, "description": "Business categories" },
          "Address Full": { "type": "string", "nullable": true, "description": "Full address string" },
          "Street": { "type": "string", "nullable": true, "description": "Street address" },
          "Address City": { "type": "string", "nullable": true },
          "Address State": { "type": "string", "nullable": true },
          "Address Zip": { "type": "string", "nullable": true },
          "Address Country": { "type": "string", "nullable": true },
          "Phone": { "type": "string", "nullable": true, "description": "Phone number (masked for free users)" },
          "Review Snippet": { "type": "string", "nullable": true, "description": "Featured review excerpt" },
          "Time Scraped": { "type": "string", "nullable": true, "description": "When the data was collected" }
        }
      },
      "OtherLead": {
        "type": "object",
        "description": "Lead from the Other database (web registration-sourced). Provides both phone numbers and email addresses. Field keys use display names with spaces.",
        "properties": {
          "id": { "type": "integer" },
          "Last Updated": { "type": "string", "nullable": true, "description": "Date the lead record was last updated. Any of the 5 contact/address fields changed (primary phone, secondary phone, primary email, secondary email, or full address), or the record was newly added." },
          "Registered URL": { "type": "string", "nullable": true, "description": "Originally registered domain URL" },
          "Registration Date": { "type": "string", "nullable": true, "description": "Domain registration date" },
[...]
