{
  "openapi": "3.1.0",
  "info": {
    "title": "ValkyrAI CORE API",
    "description": "The API for accessing ValkyrAI services",
    "termsOfService": "https://valkyrlabs.com/tos/",
    "contact": {
      "email": "info@valkyrlabs.com"
    },
    "license": {
      "name": "AGPL 3.0",
      "url": "https://www.gnu.org/licenses/agpl-3.0.html"
    },
    "version": "0.9.25"
  },
  "servers": [
    {
      "url": "https://api-0.valkyrlabs.com",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Address",
      "description": "the Address API"
    },
    {
      "name": "McpResourceResponse",
      "description": "the McpResourceResponse API"
    },
    {
      "name": "McpServer",
      "description": "the McpServer API"
    },
    {
      "name": "Credits Management",
      "description": "Prepaid credits system: balance inquiry, usage recording, and payment processing"
    },
    {
      "name": "AclSid",
      "description": "the AclSid API"
    },
    {
      "name": "Product",
      "description": "the Product API"
    },
    {
      "name": "OasEnum",
      "description": "the OasEnum API"
    },
    {
      "name": "PaymentTransaction",
      "description": "the PaymentTransaction API"
    },
    {
      "name": "Discount",
      "description": "the Discount API"
    },
    {
      "name": "WebsocketSession",
      "description": "the WebsocketSession API"
    },
    {
      "name": "Invoice",
      "description": "the Invoice API"
    },
    {
      "name": "Chart",
      "description": "the Chart API"
    },
    {
      "name": "Logout",
      "description": "the Logout API"
    },
    {
      "name": "OasParameter",
      "description": "the OasParameter API"
    },
    {
      "name": "Formula",
      "description": "the Formula API"
    },
    {
      "name": "Application",
      "description": "the Application API"
    },
    {
      "name": "OpenClawLightsailLaunchEstimate",
      "description": "the OpenClawLightsailLaunchEstimate API"
    },
    {
      "name": "Agent Management",
      "description": "Agent lifecycle operations"
    },
    {
      "name": "Agent Chat",
      "description": "Real-time SWARM agent chat via WebSocket"
    },
    {
      "name": "AclClass",
      "description": "the AclClass API"
    },
    {
      "name": "FileDownloadToken",
      "description": "the FileDownloadToken API"
    },
    {
      "name": "OasSecurityScheme",
      "description": "the OasSecurityScheme API"
    },
    {
      "name": "SubscriptionPlan",
      "description": "the SubscriptionPlan API"
    },
    {
      "name": "ThorAPI Service",
      "description": "ThorAPI code generation services"
    },
    {
      "name": "McpContent",
      "description": "the McpContent API"
    },
    {
      "name": "Agent",
      "description": "the Agent API"
    },
    {
      "name": "ChatCompletionRequest",
      "description": "the ChatCompletionRequest API"
    },
    {
      "name": "McpResourceTemplate",
      "description": "the McpResourceTemplate API"
    },
    {
      "name": "OpenClawLightsailProvisioningEvent",
      "description": "the OpenClawLightsailProvisioningEvent API"
    },
    {
      "name": "WorkflowExecution",
      "description": "the WorkflowExecution API"
    },
    {
      "name": "DeadLetterQueue",
      "description": "the DeadLetterQueue API"
    },
    {
      "name": "Solution",
      "description": "the Solution API"
    },
    {
      "name": "ContentMediaLink",
      "description": "the ContentMediaLink API"
    },
    {
      "name": "UsageTransaction",
      "description": "the UsageTransaction API"
    },
    {
      "name": "Workflow Design AI",
      "description": "AI-assisted workflow creation and generic JSON generation"
    },
    {
      "name": "IntegrationAccount",
      "description": "the IntegrationAccount API"
    },
    {
      "name": "ChannelSubscription",
      "description": "the ChannelSubscription API"
    },
    {
      "name": "API Telemetry",
      "description": "API traffic rollups and KPI spine views"
    },
    {
      "name": "Billing Reconciliation",
      "description": "Deterministic credit/usage reconciliation endpoints"
    },
    {
      "name": "McpTool",
      "description": "the McpTool API"
    },
    {
      "name": "Trust",
      "description": "the Trust API"
    },
    {
      "name": "BackupConfig",
      "description": "the BackupConfig API"
    },
    {
      "name": "McpMarketplaceCatalog",
      "description": "the McpMarketplaceCatalog API"
    },
    {
      "name": "OasObjectSchema",
      "description": "the OasObjectSchema API"
    },
    {
      "name": "OasResponse",
      "description": "the OasResponse API"
    },
    {
      "name": "PtgRef",
      "description": "the PtgRef API"
    },
    {
      "name": "BuildOutput",
      "description": "the BuildOutput API"
    },
    {
      "name": "ThorapiRule",
      "description": "the ThorapiRule API"
    },
    {
      "name": "ExecModule",
      "description": "the ExecModule API"
    },
    {
      "name": "SecureKey",
      "description": "the SecureKey API"
    },
    {
      "name": "CreditPricingMatrix",
      "description": "the CreditPricingMatrix API"
    },
    {
      "name": "HostInstance",
      "description": "the HostInstance API"
    },
    {
      "name": "KeyMetric",
      "description": "the KeyMetric API"
    },
    {
      "name": "Credits",
      "description": "the Credits API"
    },
    {
      "name": "Privacy & Compliance",
      "description": "GDPR, CCPA, and Privacy Policy compliance endpoints for data subject rights"
    },
    {
      "name": "OpenClawLightsailLaunchRequest",
      "description": "the OpenClawLightsailLaunchRequest API"
    },
    {
      "name": "WorkflowState",
      "description": "the WorkflowState API"
    },
    {
      "name": "ChatMessage",
      "description": "the ChatMessage API"
    },
    {
      "name": "FileVersion",
      "description": "the FileVersion API"
    },
    {
      "name": "PivotTable",
      "description": "the PivotTable API"
    },
    {
      "name": "Run",
      "description": "the Run API"
    },
    {
      "name": "SheetRow",
      "description": "the SheetRow API"
    },
    {
      "name": "Organization",
      "description": "the Organization API"
    },
    {
      "name": "SubscriberList",
      "description": "the SubscriberList API"
    },
    {
      "name": "Principal",
      "description": "the Principal API"
    },
    {
      "name": "Workflow",
      "description": "the Workflow API"
    },
    {
      "name": "AclEntry",
      "description": "the AclEntry API"
    },
    {
      "name": "SalesPipeline",
      "description": "the SalesPipeline API"
    },
    {
      "name": "McpToolCallResponse",
      "description": "the McpToolCallResponse API"
    },
    {
      "name": "AclObjectIdentity",
      "description": "the AclObjectIdentity API"
    },
    {
      "name": "GrayMatter",
      "description": "the GrayMatter API"
    },
    {
      "name": "FileAuditLog",
      "description": "the FileAuditLog API"
    },
    {
      "name": "MemoryEntry",
      "description": "the MemoryEntry API"
    },
    {
      "name": "Build",
      "description": "the Build API"
    },
    {
      "name": "Deployment",
      "description": "Multi-cloud application deployment"
    },
    {
      "name": "Login",
      "description": "the Login API"
    },
    {
      "name": "ReferralLink",
      "description": "the ReferralLink API"
    },
    {
      "name": "Campaign",
      "description": "the Campaign API"
    },
    {
      "name": "Rating",
      "description": "the Rating API"
    },
    {
      "name": "IdempotencyKey",
      "description": "the IdempotencyKey API"
    },
    {
      "name": "OasOpenAPISpec",
      "description": "the OasOpenAPISpec API"
    },
    {
      "name": "BlankRange",
      "description": "the BlankRange API"
    },
    {
      "name": "Sheet",
      "description": "the Sheet API"
    },
    {
      "name": "OpenClaw",
      "description": "the OpenClaw API"
    },
    {
      "name": "AccountBalance",
      "description": "the AccountBalance API"
    },
    {
      "name": "Authentication",
      "description": "Enhanced authentication endpoints"
    },
    {
      "name": "SpaceMember",
      "description": "the SpaceMember API"
    },
    {
      "name": "ChatResponse",
      "description": "the ChatResponse API"
    },
    {
      "name": "Workbook",
      "description": "the Workbook API"
    },
    {
      "name": "OAuth2 Management",
      "description": "OAuth2 user authentication and profile endpoints"
    },
    {
      "name": "Format",
      "description": "the Format API"
    },
    {
      "name": "MemoryRetentionPolicy",
      "description": "the MemoryRetentionPolicy API"
    },
    {
      "name": "McpDownloadResponse",
      "description": "the McpDownloadResponse API"
    },
    {
      "name": "MCP Publishing",
      "description": "Comprehensive MCP publishing and service management endpoints."
    },
    {
      "name": "Recruiter Admin Console",
      "description": "Application management and workflow orchestration"
    },
    {
      "name": "BalanceResponse",
      "description": "the BalanceResponse API"
    },
    {
      "name": "SheetColumn",
      "description": "the SheetColumn API"
    },
    {
      "name": "GoalDependency",
      "description": "the GoalDependency API"
    },
    {
      "name": "OasPath",
      "description": "the OasPath API"
    },
    {
      "name": "SpaceFile",
      "description": "the SpaceFile API"
    },
    {
      "name": "Role",
      "description": "the Role API"
    },
    {
      "name": "FileUploadSession",
      "description": "the FileUploadSession API"
    },
    {
      "name": "Deployment",
      "description": "the Deployment API"
    },
    {
      "name": "Ptg",
      "description": "the Ptg API"
    },
    {
      "name": "Space",
      "description": "the Space API"
    },
    {
      "name": "MergeRange",
      "description": "the MergeRange API"
    },
    {
      "name": "EventLog",
      "description": "the EventLog API"
    },
    {
      "name": "MCP Service",
      "description": "Model Context Protocol ThorAPI generate, deploy, and run services"
    },
    {
      "name": "Task",
      "description": "the Task API"
    },
    {
      "name": "Workflow Task Management",
      "description": "Fine-grained task and module creation for agentic workflows"
    },
    {
      "name": "LineItem",
      "description": "the LineItem API"
    },
    {
      "name": "StrategicPriority",
      "description": "the StrategicPriority API"
    },
    {
      "name": "ProductFeature",
      "description": "the ProductFeature API"
    },
    {
      "name": "McpResource",
      "description": "the McpResource API"
    },
    {
      "name": "OasRequired",
      "description": "the OasRequired API"
    },
    {
      "name": "NamedRange",
      "description": "the NamedRange API"
    },
    {
      "name": "Opportunity",
      "description": "the Opportunity API"
    },
    {
      "name": "MediaObject",
      "description": "the MediaObject API"
    },
    {
      "name": "AgentEventTrigger",
      "description": "the AgentEventTrigger API"
    },
    {
      "name": "Goal",
      "description": "the Goal API"
    },
    {
      "name": "SalesActivity",
      "description": "the SalesActivity API"
    },
    {
      "name": "Customer",
      "description": "the Customer API"
    },
    {
      "name": "SwarmOps",
      "description": "the SwarmOps API"
    },
    {
      "name": "Border",
      "description": "the Border API"
    },
    {
      "name": "OasComponent",
      "description": "the OasComponent API"
    },
    {
      "name": "FileRecord",
      "description": "the FileRecord API"
    },
    {
      "name": "ProductFunnelWizard",
      "description": "the ProductFunnelWizard API"
    },
    {
      "name": "LlmDetails",
      "description": "the LlmDetails API"
    },
    {
      "name": "McpMarketplaceItem",
      "description": "the McpMarketplaceItem API"
    },
    {
      "name": "OasServer",
      "description": "the OasServer API"
    },
    {
      "name": "UserPreference",
      "description": "the UserPreference API"
    },
    {
      "name": "Career Applications",
      "description": "Resume intake, opportunity matching, and consulting profiles"
    },
    {
      "name": "Mcp",
      "description": "the Mcp API"
    },
    {
      "name": "SalesOrder",
      "description": "the SalesOrder API"
    },
    {
      "name": "Swarm",
      "description": "the Swarm API"
    },
    {
      "name": "API Telemetry",
      "description": "the API Telemetry API"
    },
    {
      "name": "Cell",
      "description": "the Cell API"
    },
    {
      "name": "Workflow Studio",
      "description": "Advanced workflow authoring APIs"
    },
    {
      "name": "ContentData",
      "description": "the ContentData API"
    },
    {
      "name": "ChartSeries",
      "description": "the ChartSeries API"
    },
    {
      "name": "OasInfo",
      "description": "the OasInfo API"
    },
    {
      "name": "OasOperation",
      "description": "the OasOperation API"
    },
    {
      "name": "Note",
      "description": "the Note API"
    },
    {
      "name": "OpenClawLightsailLaunchResponse",
      "description": "the OpenClawLightsailLaunchResponse API"
    },
    {
      "name": "ChatCompletionResponse",
      "description": "the ChatCompletionResponse API"
    },
    {
      "name": "WebsocketMessage",
      "description": "the WebsocketMessage API"
    }
  ],
  "paths": {
    "/v1/workflow-tasks/modules/{moduleId}/config": {
      "put": {
        "tags": [
          "Workflow Task Management"
        ],
        "summary": "Update ExecModule configuration",
        "description": "Updates the configuration (auth, execution, payload mapping) of an existing module.",
        "operationId": "updateModuleConfig",
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Module configuration updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowExecModule"
                }
              }
            }
          }
        }
      }
    },
    "/v1/swarm/agent/{agentId}/chat/{messageId}/read": {
      "put": {
        "tags": [
          "swarm-ops-controller"
        ],
        "operationId": "markMessageAsRead",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp": {
      "get": {
        "tags": [
          "mcp-controller"
        ],
        "operationId": "getMcp",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mcp"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "mcp-controller"
        ],
        "operationId": "upsertMcp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Mcp"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mcp"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp/services/{slug}": {
      "get": {
        "tags": [
          "Mcp"
        ],
        "summary": "Get MCP service details",
        "description": "Retrieves detailed information about a published MCP service",
        "operationId": "getMcpService",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Service slug identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Service not found"
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Service details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpServiceRegistry"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Mcp"
        ],
        "summary": "Update MCP service",
        "description": "Updates metadata and configuration for a published MCP service",
        "operationId": "updateMcpService",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Service slug identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/McpServiceRegistry"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Service not found"
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Service updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpServiceRegistry"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Mcp"
        ],
        "summary": "Unpublish MCP service",
        "description": "Removes a service from the marketplace and stops it from being discoverable",
        "operationId": "unpublishMcpService",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Service slug identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Service not found"
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "Service successfully unpublished"
          }
        }
      }
    },
    "/v1/careers/consulting-profiles/{id}": {
      "get": {
        "tags": [
          "Career Applications"
        ],
        "summary": "Get consulting profile",
        "description": "View consulting profile details",
        "operationId": "getConsultingProfile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Profile found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Career Applications"
        ],
        "summary": "Update consulting profile",
        "description": "Update your consulting profile information",
        "operationId": "updateConsultingProfile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "expertiseAreas",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "maximumHourlyRate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "isAvailable",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Profile updated",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/careers/applications/{id}": {
      "get": {
        "tags": [
          "Career Applications"
        ],
        "summary": "Get application details",
        "description": "View full application details including resume and match scores",
        "operationId": "getApplication",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Application found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Career Applications"
        ],
        "summary": "Update application status",
        "description": "Update the status of an application in the workflow",
        "operationId": "updateApplicationStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "internalNotes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Application updated",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/careers/applications/{id}/status": {
      "put": {
        "tags": [
          "Recruiter Admin Console"
        ],
        "summary": "Update application status",
        "description": "Change status through workflow stages",
        "operationId": "updateApplicationStatus_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "internalNotes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Status updated",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/access/principals/{principalId}/roles": {
      "put": {
        "tags": [
          "role-management-controller"
        ],
        "operationId": "assignPrincipalRoles",
        "parameters": [
          {
            "name": "principalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignRolesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PrincipalAccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/access/agents/{agentId}/role": {
      "put": {
        "tags": [
          "role-management-controller"
        ],
        "operationId": "assignAgentRole",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignAgentRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AgentRoleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/WorkflowState/{id}": {
      "get": {
        "tags": [
          "WorkflowState"
        ],
        "summary": "Retrieve a single WorkflowState",
        "description": "Retrieves a single WorkflowState for a specific uid.",
        "operationId": "getWorkflowState",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the WorkflowState.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "WorkflowState not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successfully retrieved the WorkflowState.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowState"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "WorkflowState"
        ],
        "summary": "Update an existing WorkflowState",
        "description": "Updates an existing WorkflowState.",
        "operationId": "updateWorkflowState",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the WorkflowState.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowState"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "WorkflowState not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "WorkflowState updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowState"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowState"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "WorkflowState"
        ],
        "summary": "Delete a WorkflowState.",
        "description": "Deletes a specific WorkflowState.",
        "operationId": "deleteWorkflowState",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the WorkflowState.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "WorkflowState not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "WorkflowState deleted successfully."
          }
        }
      },
      "patch": {
        "tags": [
          "WorkflowState"
        ],
        "summary": "Partially update an existing WorkflowState",
        "description": "Updates an existing WorkflowState.",
        "operationId": "patchWorkflowStateById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the WorkflowState.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowState"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowState"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowState"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "WorkflowState not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "WorkflowState patched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowState"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowState"
                }
              }
            }
          }
        }
      }
    },
    "/v1/WorkflowExecution/{id}": {
      "get": {
        "tags": [
          "WorkflowExecution"
        ],
        "summary": "Retrieve a single WorkflowExecution",
        "description": "Retrieves a single WorkflowExecution for a specific uid.",
        "operationId": "getWorkflowExecution",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the WorkflowExecution.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "WorkflowExecution not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successfully retrieved the WorkflowExecution.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowExecution"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "WorkflowExecution"
        ],
        "summary": "Update an existing WorkflowExecution",
        "description": "Updates an existing WorkflowExecution.",
        "operationId": "updateWorkflowExecution",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the WorkflowExecution.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowExecution"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "WorkflowExecution not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "WorkflowExecution updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowExecution"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowExecution"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "WorkflowExecution"
        ],
        "summary": "Delete a WorkflowExecution.",
        "description": "Deletes a specific WorkflowExecution.",
        "operationId": "deleteWorkflowExecution",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the WorkflowExecution.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "WorkflowExecution not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "WorkflowExecution deleted successfully."
          }
        }
      },
      "patch": {
        "tags": [
          "WorkflowExecution"
        ],
        "summary": "Partially update an existing WorkflowExecution",
        "description": "Updates an existing WorkflowExecution.",
        "operationId": "patchWorkflowExecutionById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the WorkflowExecution.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowExecution"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowExecution"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowExecution"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "WorkflowExecution not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "WorkflowExecution patched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowExecution"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowExecution"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Workflow/{id}": {
      "get": {
        "tags": [
          "Workflow"
        ],
        "summary": "Retrieve a single Workflow",
        "description": "Retrieves a single Workflow for a specific uid.",
        "operationId": "getWorkflow",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the Workflow.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successfully retrieved the Workflow.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflow"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Workflow"
        ],
        "summary": "Update an existing Workflow",
        "description": "Updates an existing Workflow.",
        "operationId": "updateWorkflow",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the Workflow.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Workflow"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Workflow updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflow"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflow"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Workflow"
        ],
        "summary": "Delete a Workflow.",
        "description": "Deletes a specific Workflow.",
        "operationId": "deleteWorkflow",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the Workflow.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "Workflow deleted successfully."
          }
        }
      },
      "patch": {
        "tags": [
          "Workflow"
        ],
        "summary": "Partially update an existing Workflow",
        "description": "Updates an existing Workflow.",
        "operationId": "patchWorkflowById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the Workflow.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Workflow"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Workflow"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Workflow"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Workflow patched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflow"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflow"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Workbook/{id}": {
      "get": {
        "tags": [
          "Workbook"
        ],
        "summary": "Retrieve a single Workbook",
        "description": "Retrieves a single Workbook for a specific uid.",
        "operationId": "getWorkbook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the Workbook.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Workbook not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successfully retrieved the Workbook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workbook"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Workbook"
        ],
        "summary": "Update an existing Workbook",
        "description": "Updates an existing Workbook.",
        "operationId": "updateWorkbook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the Workbook.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Workbook"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Workbook not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Workbook updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workbook"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workbook"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Workbook"
        ],
        "summary": "Delete a Workbook.",
        "description": "Deletes a specific Workbook.",
        "operationId": "deleteWorkbook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the Workbook.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Workbook not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "Workbook deleted successfully."
          }
        }
      },
      "patch": {
        "tags": [
          "Workbook"
        ],
        "summary": "Partially update an existing Workbook",
        "description": "Updates an existing Workbook.",
        "operationId": "patchWorkbookById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the Workbook.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Workbook"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Workbook"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Workbook"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Workbook not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Workbook patched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workbook"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workbook"
                }
              }
            }
          }
        }
      }
    },
    "/v1/WebsocketSession/{id}": {
      "get": {
        "tags": [
          "WebsocketSession"
        ],
        "summary": "Retrieve a single WebsocketSession",
        "description": "Retrieves a single WebsocketSession for a specific uid.",
        "operationId": "getWebsocketSession",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the WebsocketSession.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "WebsocketSession not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successfully retrieved the WebsocketSession.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsocketSession"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "WebsocketSession"
        ],
        "summary": "Update an existing WebsocketSession",
        "description": "Updates an existing WebsocketSession.",
        "operationId": "updateWebsocketSession",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the WebsocketSession.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsocketSession"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "WebsocketSession not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "WebsocketSession updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsocketSession"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsocketSession"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "WebsocketSession"
        ],
        "summary": "Delete a WebsocketSession.",
        "description": "Deletes a specific WebsocketSession.",
        "operationId": "deleteWebsocketSession",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the WebsocketSession.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "WebsocketSession not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "WebsocketSession deleted successfully."
          }
        }
      },
      "patch": {
        "tags": [
          "WebsocketSession"
        ],
        "summary": "Partially update an existing WebsocketSession",
        "description": "Updates an existing WebsocketSession.",
        "operationId": "patchWebsocketSessionById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the WebsocketSession.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebsocketSession"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebsocketSession"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsocketSession"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "WebsocketSession not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "WebsocketSession patched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsocketSession"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsocketSession"
                }
              }
            }
          }
        }
      }
    },
    "/v1/WebsocketMessage/{id}": {
      "get": {
        "tags": [
          "WebsocketMessage"
        ],
        "summary": "Retrieve a single WebsocketMessage",
        "description": "Retrieves a single WebsocketMessage for a specific uid.",
        "operationId": "getWebsocketMessage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the WebsocketMessage.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "WebsocketMessage not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successfully retrieved the WebsocketMessage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsocketMessage"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "WebsocketMessage"
        ],
        "summary": "Update an existing WebsocketMessage",
        "description": "Updates an existing WebsocketMessage.",
        "operationId": "updateWebsocketMessage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the WebsocketMessage.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsocketMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "WebsocketMessage not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "WebsocketMessage updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsocketMessage"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsocketMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "WebsocketMessage"
        ],
        "summary": "Delete a WebsocketMessage.",
        "description": "Deletes a specific WebsocketMessage.",
        "operationId": "deleteWebsocketMessage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the WebsocketMessage.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "WebsocketMessage not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "WebsocketMessage deleted successfully."
          }
        }
      },
      "patch": {
        "tags": [
          "WebsocketMessage"
        ],
        "summary": "Partially update an existing WebsocketMessage",
        "description": "Updates an existing WebsocketMessage.",
        "operationId": "patchWebsocketMessageById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the WebsocketMessage.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebsocketMessage"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WebsocketMessage"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsocketMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "WebsocketMessage not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "WebsocketMessage patched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsocketMessage"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebsocketMessage"
                }
              }
            }
          }
        }
      }
    },
    "/v1/UserPreference/{id}": {
      "get": {
        "tags": [
          "UserPreference"
        ],
        "summary": "Retrieve a single UserPreference",
        "description": "Retrieves a single UserPreference for a specific uid.",
        "operationId": "getUserPreference",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the UserPreference.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "UserPreference not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Successfully retrieved the UserPreference.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPreference"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "UserPreference"
        ],
        "summary": "Update an existing UserPreference",
        "description": "Updates an existing UserPreference.",
        "operationId": "updateUserPreference",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the UserPreference.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPreference"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal server error."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "UserPreference not found."
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
[...]
