{
  "openapi": "3.0.3",
  "info": {
    "title": "TradingView API Server",
    "description": "Access 160,000+ stocks, forex, cryptocurrencies, and ETF data from around the world. Supports REST API and ultra-low latency WebSocket.\n\n## Basic Information\n\n- **Base URL:** `https://tradingview-data1.p.rapidapi.com`\n- **RapidAPI Host:** `tradingview-data1.p.rapidapi.com`\n- **Supported Format:** JSON\n\n## Authentication\n\nAll API requests require authentication via RapidAPI. Include the following headers in every request:\n\n```\nx-rapidapi-host: tradingview-data1.p.rapidapi.com\nx-rapidapi-key: YOUR_RAPIDAPI_KEY\n```\n\n> **Important:** Keep your API key secure and do not commit it to public repositories. Get your key on [RapidAPI](https://rapidapi.com/hypier/api/tradingview-data1).\n\n## Rate Limits\n\n| Plan  | Monthly Quota        | Rate Limit           | Price      |\n|-------|----------------------|----------------------|------------|\n| Basic | 150 requests/month   | 1000 requests/hour   | Free       |\n| Pro   | 30,000 requests/month| 5 requests/second    | $10/month  |\n| Ultra | 50,000 requests/month| 5 requests/second    | $30/month  |\n| Mega  | 200,000 requests/month| 5 requests/second   | $80/month  |\n\n## Error Handling\n\nThe API uses standard HTTP status codes. Errors follow this JSON shape:\n\n```json\n{\n  \"success\": false,\n  \"error\": {\n    \"code\": \"INVALID_SYMBOL\",\n    \"message\": \"Symbol not found or invalid\",\n    \"details\": \"The symbol 'INVALID:SYMBOL' does not exist\"\n  }\n}\n```\n\n| Status | Name                  | Description                                         |\n|--------|-----------------------|-----------------------------------------------------|\n| 200    | OK                    | Request successful                                  |\n| 400    | Bad Request           | Invalid or missing parameters                       |\n| 401    | Unauthorized          | Authentication failed or invalid API key            |\n| 404    | Not Found             | Requested resource not found                        |\n| 429    | Too Many Requests     | Rate limit exceeded                                 |\n| 500    | Internal Server Error | Internal server error                               |",
    "version": "2.4.0",
    "contact": {
      "name": "API Support"
    },
    "license": {
      "name": "ISC"
    }
  },
  "servers": [
    {
      "url": "https://tradingview-data1.p.rapidapi.com",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "RapidAPIKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-rapidapi-key",
        "description": "Your RapidAPI key. Get one at https://rapidapi.com/hypier/api/tradingview-data1"
      }
    },
    "parameters": {
      "RapidAPIHostHeader": {
        "name": "x-rapidapi-host",
        "in": "header",
        "required": true,
        "description": "RapidAPI host. Fixed value: `tradingview-data1.p.rapidapi.com`.",
        "schema": {
          "type": "string",
          "default": "tradingview-data1.p.rapidapi.com",
          "enum": [
            "tradingview-data1.p.rapidapi.com"
          ]
        },
        "example": "tradingview-data1.p.rapidapi.com"
      }
    }
  },
  "security": [
    {
      "RapidAPIKey": []
    }
  ],
  "paths": {
    "/api/calendar/economic": {
      "get": {
        "tags": [
          "Economic Calendar"
        ],
        "summary": "Get economic calendar events",
        "description": "Get economic calendar events for specified time range and countries",
        "parameters": [
          {
            "$ref": "#/components/parameters/RapidAPIHostHeader"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start time (Unix timestamp in seconds). Time span cannot exceed 40 days",
            "schema": {
              "type": "integer",
              "example": 1769356800
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "End time (Unix timestamp in seconds). Time span cannot exceed 40 days",
            "schema": {
              "type": "integer",
              "example": 1769961599
            }
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "description": "Market codes (supports multiple, comma-separated, e.g., america,china). Internally converted to country codes",
            "schema": {
              "type": "string",
              "example": "america,china"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "ok"
                        },
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Event ID"
                              },
                              "title": {
                                "type": "string",
                                "description": "Event title"
                              },
                              "country": {
                                "type": "string",
                                "description": "Country code"
                              },
                              "indicator": {
                                "type": "string",
                                "description": "Indicator name"
                              },
                              "ticker": {
                                "type": "string",
                                "description": "TradingView ticker symbol"
                              },
                              "comment": {
                                "type": "string",
                                "description": "Event description/comment"
                              },
                              "category": {
                                "type": "string",
                                "description": "Event category"
                              },
                              "period": {
                                "type": "string",
                                "description": "Time period"
                              },
                              "referenceDate": {
                                "type": "string",
                                "description": "Reference date"
                              },
                              "source": {
                                "type": "string",
                                "description": "Data source name"
                              },
                              "source_url": {
                                "type": "string",
                                "description": "Data source URL"
                              },
                              "actual": {
                                "type": "number",
                                "description": "Actual value"
                              },
                              "previous": {
                                "type": "number",
                                "description": "Previous value"
                              },
                              "forecast": {
                                "type": "number",
                                "description": "Forecast value"
                              },
                              "actualRaw": {
                                "type": "number",
                                "description": "Actual raw value"
                              },
                              "previousRaw": {
                                "type": "number",
                                "description": "Previous raw value"
                              },
                              "forecastRaw": {
                                "type": "number",
                                "description": "Forecast raw value"
                              },
                              "currency": {
                                "type": "string",
                                "description": "Currency code"
                              },
                              "unit": {
                                "type": "string",
                                "description": "Unit of measurement"
                              },
                              "importance": {
                                "type": "integer",
                                "description": "Importance level"
                              },
                              "date": {
                                "type": "string",
                                "description": "Event date"
                              }
                            }
                          }
                        }
                      }
                    },
                    "msg": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "status": "ok",
                    "result": [
                      {
                        "id": "397829",
                        "title": "ADP Employment Change Weekly",
                        "country": "US",
                        "indicator": "ADP Employment Change Weekly",
                        "comment": "The preliminary estimate of the ADP National Employment Report reflects weekly changes in private employment and includes a four-week moving average of total private employment variation.",
                        "category": "lbr",
                        "period": "",
                        "referenceDate": "2026-04-04T00:00:00Z",
                        "source": "Automatic Data Processing, Inc.",
                        "source_url": "https://adpemploymentreport.com/",
                        "actual": null,
                        "previous": 39,
                        "forecast": null,
                        "actualRaw": null,
                        "previousRaw": 39000,
                        "forecastRaw": null,
                        "currency": "USD",
                        "scale": "K",
                        "importance": 0,
                        "date": "2026-04-21T12:15:00.000Z"
                      },
                      {
                        "id": "397925",
                        "title": "Retail Sales MoM",
                        "country": "US",
                        "indicator": "Retail Sales MoM",
                        "ticker": "ECONOMICS:USRSMM",
                        "comment": "Retail sales report in the US provides aggregated measure of sales of retail goods and services over a period of a month. There are thirteen major types of retailers: Motor vehicle & parts dealers (20% of total sales), Nonstore retailers (17%), Food services & drinking places (14%), Food & beverage stores (12%), General merchandise stores (10%), Gasoline stations (7%), Building material & garden equipment dealers (6%), Health & personal care stores (5%), Clothing & clothing accessories stores (3%), Miscellaneous store retailers (2%), Furniture & home furnishings stores (2%), Sporting goods, hobby, musical instrument & book stores (1%), and Electronics & appliance stores (1%).",
                        "category": "cnsm",
                        "period": "Mar",
                        "referenceDate": "2026-03-31T00:00:00Z",
                        "source": "Census Bureau",
                        "source_url": "https://www.census.gov/",
                        "actual": null,
                        "previous": 0.6,
                        "forecast": 1.4,
                        "actualRaw": null,
                        "previousRaw": 0.6,
                        "forecastRaw": 1.4,
                        "currency": "USD",
                        "unit": "%",
                        "importance": 1,
                        "date": "2026-04-21T12:30:00.000Z"
                      },
                      {
                        "id": "398445",
                        "title": "Retail Sales Ex Autos MoM",
                        "country": "US",
                        "indicator": "Retail Sales Ex Autos",
                        "ticker": "ECONOMICS:USRSEA",
                        "comment": "Retail Sales Ex Autos report in the US provides aggregated measure of sales of retail goods and services excluding the automobile sector over a period of a month.",
                        "category": "cnsm",
                        "period": "Mar",
                        "referenceDate": "2026-03-31T00:00:00Z",
                        "source": "Census Bureau",
                        "source_url": "http://www.census.gov",
                        "actual": null,
                        "previous": 0.5,
                        "forecast": 1.4,
                        "actualRaw": null,
                        "previousRaw": 0.5,
                        "forecastRaw": 1.4,
                        "currency": "USD",
                        "unit": "%",
                        "importance": 0,
                        "date": "2026-04-21T12:30:00.000Z"
                      }
                    ]
                  },
                  "msg": "Success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request GET \\\n  --url 'https://tradingview-data1.p.rapidapi.com/api/calendar/economic?from=1738368000&to=1738972800' \\\n  --header 'x-rapidapi-host: tradingview-data1.p.rapidapi.com' \\\n  --header 'x-rapidapi-key: YOUR_RAPIDAPI_KEY'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const params = new URLSearchParams({ from: '1738368000', to: '1738972800' });\nconst response = await fetch(`https://tradingview-data1.p.rapidapi.com/api/calendar/economic?${params}`, {\n  method: 'GET',\n  headers: {\n    'x-rapidapi-host': 'tradingview-data1.p.rapidapi.com',\n    'x-rapidapi-key': 'YOUR_RAPIDAPI_KEY'\n  }\n});\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://tradingview-data1.p.rapidapi.com/api/calendar/economic\"\nparams = {\"from\": 1738368000, \"to\": 1738972800}\nheaders = {\n    \"x-rapidapi-host\": \"tradingview-data1.p.rapidapi.com\",\n    \"x-rapidapi-key\": \"YOUR_RAPIDAPI_KEY\"\n}\nresponse = requests.get(url, params=params, headers=headers)\nprint(response.json())"
          }
        ],
        "operationId": "getEconomicCalendar"
      }
    },
    "/api/calendar/earnings": {
      "get": {
        "tags": [
          "Economic Calendar"
        ],
        "summary": "Get earnings calendar",
        "description": "Get earnings calendar data for specified time range and markets",
        "parameters": [
          {
            "$ref": "#/components/parameters/RapidAPIHostHeader"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start time (Unix timestamp in seconds). Time span cannot exceed 40 days",
            "schema": {
              "type": "integer",
              "example": 1769356800
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "End time (Unix timestamp in seconds). Time span cannot exceed 40 days",
            "schema": {
              "type": "integer",
              "example": 1769961599
            }
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "description": "Market codes (supports multiple, comma-separated, e.g., america,china)",
            "schema": {
              "type": "string",
              "default": "america",
              "example": "america,china"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "totalCount": {
                          "type": "integer",
                          "description": "Total number of records",
                          "example": 626
                        },
                        "data": {
                          "type": "array",
                          "description": "Earnings calendar data array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "symbol": {
                                "type": "string",
                                "description": "Trading symbol, format EXCHANGE:SYMBOL",
                                "example": "NASDAQ:EEIQ"
                              },
                              "rank": {
                                "type": "integer",
                                "description": "Ranking order",
                                "example": 4
                              },
                              "earnings_release_next_date": {
                                "type": "integer",
                                "description": "Next earnings release date (Unix timestamp)",
                                "example": 1783598400
                              },
                              "earnings_release_date": {
                                "type": "integer",
                                "description": "Recent earnings release date (Unix timestamp)",
                                "example": 1769601600
                              },
                              "logoid": {
                                "type": "string",
                                "description": "Company logo ID",
                                "example": "virtuix"
                              },
                              "name": {
                                "type": "string",
                                "description": "Short symbol name",
                                "example": "EEIQ"
                              },
                              "description": {
                                "type": "string",
                                "description": "Full company name",
                                "example": "EpicQuest Education Group International Limited"
                              },
                              "earnings_per_share_fq": {
                                "type": "number",
                                "description": "Recent fiscal quarter EPS (Earnings Per Share)",
                                "example": -0.0286
                              },
                              "earnings_per_share_forecast_next_fq": {
                                "type": "number",
                                "description": "Next fiscal quarter EPS forecast",
                                "example": -0.021975
                              },
                              "eps_surprise_fq": {
                                "type": "number",
                                "description": "EPS surprise value (actual - forecast)",
                                "example": -0.0143
                              },
                              "eps_surprise_percent_fq": {
                                "type": "number",
                                "description": "EPS surprise percentage",
                                "example": -100
                              },
                              "revenue_fq": {
                                "type": "number",
                                "description": "Recent fiscal quarter revenue",
                                "example": 4098000000
                              },
                              "revenue_forecast_next_fq": {
                                "type": "number",
                                "description": "Next fiscal quarter revenue forecast",
                                "example": 3508294206
                              },
                              "market_cap_basic": {
                                "type": "number",
                                "description": "Market capitalization",
                                "example": 3319908512
                              },
                              "earnings_release_time": {
                                "type": "integer",
                                "description": "Recent earnings release time (-1=after market close, 0=unknown, 1=before market open)",
                                "example": 1
                              },
                              "earnings_release_next_time": {
                                "type": "integer",
                                "description": "Next earnings release time (same as above)",
                                "example": 0
                              },
                              "earnings_per_share_forecast_fq": {
                                "type": "number",
                                "description": "Recent fiscal quarter EPS forecast",
                                "example": 1.519913
                              },
                              "revenue_forecast_fq": {
                                "type": "number",
                                "description": "Recent fiscal quarter revenue forecast",
                                "example": 4268530375
                              },
                              "fundamental_currency_code": {
                                "type": "string",
                                "description": "Fundamental data currency code",
                                "example": "USD"
                              },
                              "market": {
                                "type": "string",
                                "description": "Market code",
                                "example": "america"
                              },
                              "earnings_publication_type_fq": {
                                "type": "integer",
                                "description": "Recent earnings publication type",
                                "example": 21
                              },
                              "earnings_publication_type_next_fq": {
                                "type": "integer",
                                "description": "Next earnings publication type",
                                "example": 10
                              },
                              "revenue_surprise_fq": {
                                "type": "number",
                                "description": "Revenue surprise value",
                                "example": -170530375
                              },
                              "revenue_surprise_percent_fq": {
                                "type": "number",
                                "description": "Revenue surprise percentage",
                                "example": -3.995060595
                              },
                              "typespecs": {
                                "type": "array",
                                "description": "Security type specifications",
                                "items": {
                                  "type": "string"
                                },
                                "example": [
                                  "preferred"
                                ]
                              },
                              "type": {
                                "type": "string",
                                "description": "Security type (stock/fund/dr/etc)",
                                "example": "stock"
                              },
                              "exchange": {
                                "type": "string",
                                "description": "Exchange code",
                                "example": "NYSE"
                              }
                            }
                          }
                        }
                      }
                    },
                    "msg": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "totalCount": 741,
                    "data": [
                      {
                        "symbol": "NYSE:PIPR",
                        "rank": 1,
                        "earnings_release_next_date": 1777032000,
                        "earnings_release_date": 1770379200,
                        "logoid": "",
                        "name": "PIPR",
                        "description": "Piper Sandler Companies",
                        "earnings_per_share_fq": 1.72,
                        "earnings_per_share_forecast_next_fq": 0.909375,
                        "eps_surprise_fq": 0.534375,
                        "eps_surprise_percent_fq": 45.071164997364264,
                        "revenue_fq": 634997000,
                        "revenue_forecast_next_fq": 436301500,
                        "market_cap_basic": 6498773097.999999,
                        "earnings_release_time": -1,
                        "earnings_release_next_time": 0,
                        "earnings_per_share_forecast_fq": 1.185625,
                        "revenue_forecast_fq": 518164500,
                        "fundamental_currency_code": "USD",
                        "market": "america",
                        "earnings_publication_type_fq": 21,
                        "earnings_publication_type_next_fq": 10,
                        "revenue_surprise_fq": 116832500,
                        "revenue_surprise_percent_fq": 22.547376364069713,
                        "typespecs": [
                          "common"
                        ],
                        "type": "stock",
                        "exchange": "NYSE"
                      },
                      {
                        "symbol": "NASDAQ:NICM",
                        "rank": 2,
                        "earnings_release_next_date": 1777032000,
                        "earnings_release_date": 1764757800,
                        "logoid": "",
                        "name": "NICM",
                        "description": "Nicola Mining Inc.",
                        "earnings_per_share_fq": -0.014338,
                        "earnings_per_share_forecast_next_fq": 0.014615,
                        "eps_surprise_fq": -0.028596,
                        "eps_surprise_percent_fq": -200.5610885117127,
                        "revenue_fq": 396216,
                        "revenue_forecast_next_fq": 7205743,
                        "market_cap_basic": 129028547.0272,
                        "earnings_release_time": -1,
                        "earnings_release_next_time": 0,
                        "earnings_per_share_forecast_fq": 0.014258,
                        "revenue_forecast_fq": 5478025,
                        "fundamental_currency_code": "USD",
                        "market": "america",
                        "earnings_publication_type_fq": 21,
                        "earnings_publication_type_next_fq": 10,
                        "revenue_surprise_fq": -5081809,
                        "revenue_surprise_percent_fq": -92.767174300957,
                        "typespecs": [
                          ""
                        ],
                        "type": "dr",
                        "exchange": "NASDAQ"
                      },
                      {
                        "symbol": "NASDAQ:PSTV",
                        "rank": 3,
                        "earnings_release_next_date": 1776772800,
                        "earnings_release_date": 1773346560,
                        "logoid": "",
                        "name": "PSTV",
                        "description": "PLUS THERAPEUTICS, Inc.",
                        "earnings_per_share_fq": -0.833575,
                        "earnings_per_share_forecast_next_fq": -0.846,
                        "eps_surprise_fq": -0.03357499999999991,
                        "eps_surprise_percent_fq": -4.196874999999989,
                        "revenue_fq": 1363000,
                        "revenue_forecast_next_fq": 974000,
                        "market_cap_basic": 50092796,
                        "earnings_release_time": 1,
                        "earnings_release_next_time": 0,
                        "earnings_per_share_forecast_fq": -0.8,
                        "revenue_forecast_fq": 1232000,
                        "fundamental_currency_code": "USD",
                        "market": "america",
                        "earnings_publication_type_fq": 22,
                        "earnings_publication_type_next_fq": 10,
                        "revenue_surprise_fq": 131000,
                        "revenue_surprise_percent_fq": 10.633116883116884,
                        "typespecs": [
                          "common"
                        ],
                        "type": "stock",
                        "exchange": "NASDAQ"
                      }
                    ]
                  },
                  "msg": "Success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/calendar/revenue": {
      "get": {
        "tags": [
          "Economic Calendar"
        ],
        "summary": "Get dividends calendar",
        "description": "Get dividends calendar data for specified time range and markets",
        "parameters": [
          {
            "$ref": "#/components/parameters/RapidAPIHostHeader"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start time (Unix timestamp in seconds). Time span cannot exceed 40 days",
            "schema": {
              "type": "integer",
              "example": 1769356800
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "End time (Unix timestamp in seconds). Time span cannot exceed 40 days",
            "schema": {
              "type": "integer",
              "example": 1769961599
            }
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "description": "Market codes (supports multiple, comma-separated, e.g., america,china)",
            "schema": {
              "type": "string",
              "default": "america",
              "example": "america,china"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "totalCount": {
                          "type": "integer",
                          "description": "Total number of records",
                          "example": 138
                        },
                        "data": {
                          "type": "array",
                          "description": "Dividends calendar data array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "symbol": {
                                "type": "string",
                                "description": "Trading symbol, format EXCHANGE:SYMBOL",
                                "example": "NYSE:PEO"
                              },
                              "rank": {
                                "type": "integer",
                                "description": "Ranking order",
                                "example": 2
                              },
                              "dividend_ex_date_recent": {
                                "type": "integer",
                                "description": "Recent dividend ex-date (Unix timestamp)",
                                "example": 1769428740
                              },
                              "dividend_ex_date_upcoming": {
                                "type": "integer",
                                "description": "Upcoming dividend ex-date (Unix timestamp)",
                                "example": 1777636740
                              },
                              "logoid": {
                                "type": "string",
                                "description": "Company logo ID",
                                "example": "adams-diversified-equity"
                              },
                              "name": {
                                "type": "string",
                                "description": "Short symbol name",
                                "example": "PEO"
                              },
                              "description": {
                                "type": "string",
                                "description": "Full company name",
                                "example": "Adams Natural Resources Fund, Inc."
                              },
                              "dividends_yield": {
                                "type": "number",
                                "description": "Dividend yield percentage",
                                "example": 7.7100115
                              },
                              "dividend_payment_date_recent": {
                                "type": "integer",
                                "description": "Recent dividend payment date (Unix timestamp)",
                                "example": 1772020740
                              },
                              "dividend_payment_date_upcoming": {
                                "type": "integer",
                                "description": "Upcoming dividend payment date (Unix timestamp)",
                                "example": 1778846340
                              },
                              "dividend_amount_recent": {
                                "type": "number",
                                "description": "Recent dividend amount per share",
                                "example": 0.49
                              },
                              "dividend_amount_upcoming": {
                                "type": "number",
                                "description": "Upcoming dividend amount per share",
                                "example": 0.175950006
                              },
                              "fundamental_currency_code": {
                                "type": "string",
                                "description": "Fundamental data currency code",
                                "example": "USD"
                              },
                              "market": {
                                "type": "string",
                                "description": "Market code",
                                "example": "america"
                              },
                              "typespecs": {
                                "type": "array",
                                "description": "Security type specifications",
                                "items": {
                                  "type": "string"
                                },
                                "example": [
                                  "closedend"
                                ]
                              },
                              "type": {
                                "type": "string",
                                "description": "Security type (stock/fund/etc)",
                                "example": "fund"
                              },
                              "exchange": {
                                "type": "string",
                                "description": "Exchange code",
                                "example": "NYSE"
                              }
                            }
                          }
                        }
                      }
                    },
                    "msg": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "totalCount": 328,
                    "data": [
                      {
                        "symbol": "OTC:RMVEY",
                        "rank": 1,
                        "dividend_ex_date_recent": 1758887940,
                        "dividend_ex_date_upcoming": 1777031940,
                        "logoid": "",
                        "name": "RMVEY",
                        "description": "Rightmove Plc",
                        "dividends_yield": 1.7863514064410926,
                        "dividend_payment_date_recent": 1762775940,
                        "dividend_payment_date_upcoming": 1779969540,
                        "dividend_amount_recent": 0.0860930011,
                        "dividend_amount_upcoming": 0.178930998,
                        "fundamental_currency_code": "USD",
                        "market": "america",
                        "typespecs": [
                          ""
                        ],
                        "type": "dr",
                        "exchange": "OTC"
                      },
                      {
                        "symbol": "NASDAQ:QFIN",
                        "rank": 2,
                        "dividend_ex_date_recent": 1757332740,
                        "dividend_ex_date_upcoming": 1776859140,
                        "logoid": "360-finance",
                        "name": "QFIN",
                        "description": "Qfin Holdings, Inc.",
                        "dividends_yield": 10.849393290506782,
                        "dividend_payment_date_recent": 1759233540,
                        "dividend_payment_date_upcoming": 1778759940,
                        "dividend_amount_recent": 0.75,
                        "dividend_amount_upcoming": 0.769999981,
                        "fundamental_currency_code": "USD",
                        "market": "america",
                        "typespecs": [
                          ""
                        ],
                        "type": "dr",
                        "exchange": "NASDAQ"
                      },
                      {
                        "symbol": "OTC:AAVMY",
                        "rank": 3,
                        "dividend_ex_date_recent": 1755518340,
                        "dividend_ex_date_upcoming": 1777291140,
                        "logoid": "abn-amro",
                        "name": "AAVMY",
                        "description": "Abn Amro BK N V",
                        "dividends_yield": 3.2728889139760664,
                        "dividend_payment_date_recent": 1758715140,
                        "dividend_payment_date_upcoming": 1780919940,
                        "dividend_amount_recent": 0.487489015,
                        "dividend_amount_upcoming": 0.868694007,
                        "fundamental_currency_code": "USD",
                        "market": "america",
                        "typespecs": [
                          ""
                        ],
                        "type": "dr",
                        "exchange": "OTC"
                      }
                    ]
                  },
                  "msg": "Success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/calendar/ipo": {
      "get": {
        "tags": [
          "Economic Calendar"
        ],
        "summary": "Get IPO calendar",
        "description": "Get IPO calendar data for specified time range and markets",
        "parameters": [
          {
            "$ref": "#/components/parameters/RapidAPIHostHeader"
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start time (Unix timestamp in seconds). Time span cannot exceed 40 days",
            "schema": {
              "type": "integer",
              "example": 1769356800
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "End time (Unix timestamp in seconds). Time span cannot exceed 40 days",
            "schema": {
              "type": "integer",
              "example": 1769961599
            }
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "description": "Market codes (supports multiple, comma-separated, e.g., america,china)",
            "schema": {
              "type": "string",
              "default": "america",
              "example": "america,china"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "totalCount": {
                          "type": "integer",
                          "description": "Total number of records",
                          "example": 6
                        },
                        "data": {
                          "type": "array",
                          "description": "IPO calendar data array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "symbol": {
                                "type": "string",
                                "description": "Trading symbol, format EXCHANGE:SYMBOL",
                                "example": "NASDAQ:VTIX"
                              },
                              "rank": {
                                "type": "integer",
                                "description": "Ranking order",
                                "example": 1
                              },
                              "logoid": {
                                "type": "string",
                                "description": "Company logo ID",
                                "example": "virtuix"
                              },
                              "name": {
                                "type": "string",
                                "description": "Short symbol name",
                                "example": "VTIX"
                              },
                              "description": {
                                "type": "string",
                                "description": "Full company name",
                                "example": "Virtuix Holdings Inc."
                              },
                              "typespecs": {
                                "type": "array",
                                "description": "Security type specifications",
                                "items": {
                                  "type": "string"
                                },
                                "example": [
                                  "common"
                                ]
                              },
                              "type": {
                                "type": "string",
                                "description": "Security type",
                                "example": "stock"
                              },
                              "exchange": {
                                "type": "string",
                                "description": "Exchange code",
                                "example": "NASDAQ"
                              },
                              "market": {
                                "type": "string",
                                "description": "Market code",
                                "example": "america"
                              },
                              "ipo_offer_time": {
                                "type": "integer",
                                "description": "IPO offer time (Unix timestamp)",
                                "example": 1769524200
                              },
                              "ipo_offer_price_usd": {
                                "type": "number",
                                "description": "IPO offer price in USD",
                                "example": 12.25
                              },
                              "ipo_offer_status": {
                                "type": "string",
                                "description": "IPO status (closed/opened/upcoming/etc)",
                                "example": "closed"
                              },
                              "ipo_offer_status.tr": {
                                "type": "string",
                                "description": "IPO status translated",
                                "example": "Closed"
                              },
                              "ipo_offered_shares": {
                                "type": "integer",
                                "description": "Number of shares offered in IPO",
                                "example": 4492500
                              },
                              "ipo_deal_amount_usd": {
                                "type": "number",
                                "description": "Total IPO deal amount in USD",
                                "example": 50837500
                              },
                              "ipo_market_cap_usd": {
                                "type": "number",
                                "description": "Market cap at IPO in USD",
                                "example": 349550148.5
                              },
                              "ipo_price_range_usd": {
                                "type": "string",
                                "description": "IPO price range in USD",
                                "example": "18.00 - 20.00"
                              },
                              "source-logoid": {
                                "type": "string",
                                "description": "Data source logo ID",
                                "example": "source/NASDAQ"
                              }
                            }
                          }
                        }
                      }
                    },
                    "msg": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "totalCount": 3,
                    "data": [
                      {
                        "symbol": "NYSE:EMI",
                        "rank": 1,
                        "logoid": "encore-medical",
                        "name": "EMI",
                        "description": "Encore Medical Inc.",
                        "typespecs": [
                          "common",
                          "pre-ipo"
                        ],
                        "type": "stock",
                        "exchange": "NYSE",
                        "market": "america",
                        "ipo_offer_time": 1776864600,
                        "ipo_offer_price_usd": null,
                        "ipo_offer_status": "pending",
                        "ipo_offer_status.tr": "Pending",
                        "ipo_offered_shares": 3000000,
                        "ipo_deal_amount_usd": 15000000,
                        "ipo_market_cap_usd": null,
                        "ipo_price_range_usd": null,
                        "source-logoid": "source/NYSE"
                      },
                      {
                        "symbol": "NASDAQ:YSWY",
                        "rank": 2,
                        "logoid": "",
                        "name": "YSWY",
                        "description": "Yesway Inc.",
                        "typespecs": [
                          "common",
                          "pre-ipo"
                        ],
                        "type": "stock",
                        "exchange": "NASDAQ",
                        "market": "america",
                        "ipo_offer_time": 1776864600,
                        "ipo_offer_price_usd": null,
                        "ipo_offer_status": "pending",
                        "ipo_offer_status.tr": "Pending",
                        "ipo_offered_shares": 13953488,
                        "ipo_deal_amount_usd": 320930224,
                        "ipo_market_cap_usd": null,
                        "ipo_price_range_usd": "20.00 - 23.00",
                        "source-logoid": "source/NASDAQ"
                      },
                      {
                        "symbol": "NASDAQ:OPTHFU",
                        "rank": 3,
                        "logoid": "optimi-health",
                        "name": "OPTHFU",
                        "description": "Optimi Health Corp.",
                        "typespecs": [
                          "common",
                          "pre-ipo"
                        ],
                        "type": "stock",
                        "exchange": "NASDAQ",
                        "market": "america",
                        "ipo_offer_time": 1776951000,
                        "ipo_offer_price_usd": null,
                        "ipo_offer_status": "pending",
                        "ipo_offer_status.tr": "Pending",
                        "ipo_offered_shares": 2500000,
                        "ipo_deal_amount_usd": 20000000,
                        "ipo_market_cap_usd": null,
                        "ipo_price_range_usd": "6.00 - 8.00",
                        "source-logoid": "source/NASDAQ"
                      }
                    ]
                  },
                  "msg": "Success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health Check"
        ],
        "summary": "Health check",
        "description": "Check API server running status, including authentication status and active session count",
        "responses": {
          "200": {
            "description": "Server running normally",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "disconnected"
                      ]
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "charts": {
                      "type": "integer"
                    },
                    "quoteSessions": {
                      "type": "integer"
                    },
                    "authenticated": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "status": "ok",
                    "timestamp": 1776767673990,
                    "charts": 1,
                    "quoteSessions": 4,
                    "authenticated": false
                  },
                  "msg": "Success"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/RapidAPIHostHeader"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request GET \\\n  --url 'https://tradingview-data1.p.rapidapi.com/health' \\\n  --header 'x-rapidapi-host: tradingview-data1.p.rapidapi.com' \\\n  --header 'x-rapidapi-key: YOUR_RAPIDAPI_KEY'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch('https://tradingview-data1.p.rapidapi.com/health', {\n  method: 'GET',\n  headers: {\n    'x-rapidapi-host': 'tradingview-data1.p.rapidapi.com',\n    'x-rapidapi-key': 'YOUR_RAPIDAPI_KEY'\n  }\n});\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://tradingview-data1.p.rapidapi.com/health\"\nheaders = {\n    \"x-rapidapi-host\": \"tradingview-data1.p.rapidapi.com\",\n    \"x-rapidapi-key\": \"YOUR_RAPIDAPI_KEY\"\n}\nresponse = requests.get(url, headers=headers)\nprint(response.json())"
          }
        ],
        "operationId": "healthCheck"
      }
    },
    "/api/ideas/hot": {
      "get": {
        "tags": [
          "Community Ideas"
        ],
        "summary": "Get hot ideas list",
        "description": "Get TradingView hot ideas list, supports pagination",
        "parameters": [
          {
            "$ref": "#/components/parameters/RapidAPIHostHeader"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language code (e.g., en, zh_CN)",
            "schema": {
              "type": "string",
              "default": "en",
              "example": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Unique idea ID",
                            "example": 21837982
                          },
                          "image_url": {
                            "type": "string",
                            "description": "Image URL identifier",
                            "example": "IRspJMIh"
                          },
                          "name": {
                            "type": "string",
                            "description": "Idea title",
                            "example": "Dollar Index- 3M CLS Range Model 2 + COT"
                          },
                          "description": {
                            "type": "string",
                            "description": "Detailed analysis text"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation time (ISO8601)",
                            "example": "2026-04-19T05:59:50+00:00"
                          },
                          "updated_at": {
                            "type": "string",
                            "nullable": true
                          },
                          "chart_url": {
                            "type": "string",
                            "description": "TradingView chart link"
                          },
                          "is_public": {
                            "type": "boolean"
                          },
                          "is_hot": {
                            "type": "boolean"
                          },
                          "comments_count": {
                            "type": "integer"
                          },
                          "likes_count": {
                            "type": "integer"
                          },
                          "symbol": {
                            "type": "object",
                            "description": "Trading symbol info (name, full_name, exchange, type, logo_urls, interval, direction)"
                          },
                          "user": {
                            "type": "object",
                            "description": "Author info (id, username, picture_url, is_pro, pro_plan)"
                          },
                          "image": {
                            "type": "object",
                            "description": "Image URLs (big, middle, middle_webp, bg_color)"
                          }
                        }
                      }
                    },
                    "msg": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": 21844366,
                      "image_url": "fiTFLfEh",
                      "name": "Bitcoin - LifeTime Opportunity! (right now, watch this)",
                      "description": "I see a lifetime opportunity on the chart of Bitcoin! First, let's take a look at technical analysis. The price of Bitcoin has been inside this red bearish flag for around 10 weeks, and soon we will see either an explosive pump or a critical dump. Bitcoin has been in a pretty strong bear market since October 2025, and bearish flags are technically negative patterns, usually the price goes down after forming such patterns. What's more, we have a small local blue ascending channel that the price respects very well. This could be a critical indicator, because if the price of Bitcoin goes down below this channel, it could trigger a massive drop. And that's the opportunity we talk about - we don't wait for a confirmation of this huge red bear flag, but we wait for a confirmation of this blue channel! This will give you an advantage among swing traders in the future.\n\nI think there is sooooo much liquidity below this red bear flag (stop losses, orders to open a short position, etc.) that the whales and banks want to go down and take your money away (if you are long). That's why 58k is a key level to watch, it's below the flag and also at the 0.618 FIB retracement of the previous bull market (2022-2025).\n\nWhat happens after we hit 58k? I think the market will probably want in this case to retest the bear flag's trendline at 69k. So if you short this bear flag later, you may get into trouble, so take your profit at 58k! With this advice you don't get trapped. Watch my updates and stay strong!\n\nWrite a comment with your altcoin + hit the like button, and I will make an analysis for you in response. Trading is not hard if you have a good coach! I am very transparent with my trades. Thank you, and I wish you successful trades!",
                      "created_at": "2026-04-20T07:25:18+00:00",
                      "updated_at": null,
                      "date_timestamp": 1776669918,
                      "updated_date_timestamp": null,
                      "chart_url": "https://www.tradingview.com/chart/BTCUSDT/fiTFLfEh-Bitcoin-LifeTime-Opportunity-right-now-watch-this/",
                      "is_public": true,
                      "is_visible": true,
                      "is_video": false,
                      "is_education": false,
                      "is_script": false,
                      "is_picked": false,
                      "is_hot": true,
                      "is_platinum_broker_idea": false,
                      "script_type": null,
                      "script_access": null,
                      "script_id_part": null,
                      "version": null,
                      "script_package_id": null,
                      "video_duration": "0",
                      "video_cam": false,
                      "video_filename": null,
                      "comments_count": 84,
                      "views_count": 0,
                      "symbol": {
                        "name": "BINANCE:BTCUSDT",
                        "full_name": "BINANCE:BTCUSDT",
                        "short_name": "BTCUSDT",
                        "exchange": "BINANCE",
                        "type": "spot",
                        "logo": {
                          "style": "single",
                          "logoid": "crypto/XTVCBTC"
                        },
                        "logo_id": null,
                        "currency_logo_id": "crypto/XTVCUSDT",
                        "base_currency_logo_id": "crypto/XTVCBTC",
                        "logo_urls": [
                          "https://s3-symbol-logo.tradingview.com/crypto/XTVCBTC.svg",
                          "https://s3-symbol-logo.tradingview.com/crypto/XTVCUSDT.svg"
                        ],
                        "interval": "720",
                        "direction": 2,
                        "badge": {
                          "label": "BINANCE:BTCUSDT",
                          "url": "/symbols/BTCUSDT/"
                        }
                      },
                      "user": {
                        "id": 10265490,
                        "username": "Xanrox",
                        "badges": [
                          {
                            "name": "pro:pro_premium",
                            "verbose_name": "Premium"
                          }
                        ],
                        "picture_url": "https://s3.tradingview.com/userpics/10265490-BhuM.png",
                        "mid_picture_url": "https://s3.tradingview.com/userpics/10265490-BhuM_mid.png",
                        "is_pro": true,
                        "pro_plan": "pro_premium",
                        "is_broker": false,
                        "broker_name": null,
                        "broker_plan": null
                      },
                      "image": {
                        "big": "https://s3.tradingview.com/f/fiTFLfEh_big.png",
                        "middle": "https://s3.tradingview.com/f/fiTFLfEh_mid.png",
                        "middle_webp": "https://s3.tradingview.com/f/fiTFLfEh_mid.webp",
                        "bg_color": "#ffffff"
                      },
                      "reputation": null,
                      "actions": null,
                      "is_liked": false,
                      "likes_count": 313
                    },
                    {
                      "id": 21845001,
                      "image_url": "me9hKsbv",
                      "name": "EURUSD Rebound from Support – Targeting Higher Levels",
                      "description": "Hello traders! Here’s my technical outlook based on the current EURUSD (1H) chart structure. EURUSD previously moved inside a descending channel, forming lower highs and confirming bearish pressure. After a breakout from this structure, price found a bottom and initiated a recovery phase. The market then formed a triangle pattern, where a breakout to the upside confirmed a shift in momentum. Currently, price is holding above the 1.1730 buyer zone and approaching the 1.1810 resistance (seller zone), while respecting the rising support line. This indicates consolidation below resistance. As long as EURUSD holds above 1.1730, the bullish bias remains valid. A breakout above 1.1810 could push price toward higher levels (TP1). Please share this idea with your friends and click Boost 🚀",
                      "created_at": "2026-04-20T09:23:28+00:00",
                      "updated_at": "2026-04-21T08:31:21+00:00",
                      "date_timestamp": 1776677008,
                      "updated_date_timestamp": 1776760281,
                      "chart_url": "https://www.tradingview.com/chart/EURUSD/me9hKsbv-EURUSD-Rebound-from-Support-Targeting-Higher-Levels/",
                      "is_public": true,
                      "is_visible": true,
                      "is_video": false,
                      "is_education": false,
                      "is_script": false,
                      "is_picked": false,
                      "is_hot": true,
                      "is_platinum_broker_idea": false,
                      "script_type": null,
                      "script_access": null,
                      "script_id_part": null,
                      "version": null,
                      "script_package_id": null,
                      "video_duration": "0",
                      "video_cam": false,
                      "video_filename": null,
                      "comments_count": 17,
                      "views_count": 0,
                      "symbol": {
                        "name": "FOREXCOM:EURUSD",
                        "full_name": "FOREXCOM:EURUSD",
                        "short_name": "EURUSD",
                        "exchange": "FOREXCOM",
                        "type": "forex",
                        "logo": {
                          "style": "pair",
                          "logoid": "country/EU",
                          "logoid2": "country/US"
                        },
                        "logo_id": null,
                        "currency_logo_id": "country/US",
                        "base_currency_logo_id": "country/EU",
                        "logo_urls": [
                          "https://s3-symbol-logo.tradingview.com/country/EU.svg",
                          "https://s3-symbol-logo.tradingview.com/country/US.svg"
                        ],
                        "interval": "60",
                        "direction": 1,
                        "badge": {
                          "label": "FOREXCOM:EURUSD",
                          "url": "/symbols/EURUSD/"
                        }
                      },
                      "user": {
                        "id": 50479193,
                        "username": "LegionQ8",
                        "badges": [
                          {
                            "name": "pro:pro_premium",
                            "verbose_name": "Premium"
                          }
                        ],
                        "picture_url": "https://s3.tradingview.com/userpics/50479193-AP0U.png",
                        "mid_picture_url": "https://s3.tradingview.com/userpics/50479193-AP0U_mid.png",
                        "is_pro": true,
                        "pro_plan": "pro_premium",
                        "is_broker": false,
                        "broker_name": null,
                        "broker_plan": null
                      },
                      "image": {
                        "big": "https://s3.tradingview.com/m/me9hKsbv_big.png",
                        "middle": "https://s3.tradingview.com/m/me9hKsbv_mid.png",
                        "middle_webp": "https://s3.tradingview.com/m/me9hKsbv_mid.webp",
                        "bg_color": "#b9dbad"
                      },
                      "reputation": null,
                      "actions": null,
                      "is_liked": false,
                      "likes_count": 27
                    },
                    {
                      "id": 21845365,
                      "image_url": "juScwUN8",
                      "name": "Gold: Institutional Distribution at the Apex.",
                      "description": "The Macro View: The \"Peace Premium\" Unwinds 🛰️\nFollowing the historic April 8 ceasefire agreement, the safe-haven demand that drove Gold toward $5,000 earlier this year is starting to evaporate. While the Singapore Peace Talks provide a glimmer of hope, the \"higher-for-longer\" interest rate environment in the US is finally starting to weigh on non-yielding assets. We are witnessing a classic case of \"Buy the Rumor (of War), Sell the Fact (of Peace).\"\n\nThe Setup: The \"Symmetric Squeeze\" 🧩\nThe Macro Ceiling: Price is currently colliding with a Strong Resistance Line that has rejected every major advance since the March liquidity flush.\n\nTriangle Consolidation: Gold has spent most of April coiling inside a secondary Triangle Pattern. These structures typically precede massive volatility expansions.\n\nThe Trap: Notice how price is hugging the upper resistance. This \"grinding\" action often traps breakout buyers right before a structural breakdown. The volume profile suggests institutional distribution (selling) into these relief rallies.\n\nThe Roadmap: Destination $4,350 – $4,400 🎯\nFollowing the purple projection on the chart, we are looking at a potential \"zig-zag\" collapse:\n\nImmediate Resistance: The $4,840 – $4,850 zone. A 4H close above this level would invalidate the bearish view.\n\nThe Trigger: A clean break below the local triangle floor ($4,700). Once this support snaps, the \"War Premium\" will likely be fully priced out.\n\nPrimary Target: The long-term macro Support Line sitting near $4,350 – $4,400.\n\nWhy there? This zone represents the original 2025 breakout base and the current 200-day moving average. It’s the ultimate \"value zone\" where long-term central bank buyers (led by Turkey and China) are expected to step in.",
                      "created_at": "2026-04-20T10:27:52+00:00",
                      "updated_at": null,
                      "date_timestamp": 1776680872,
                      "updated_date_timestamp": null,
                      "chart_url": "https://www.tradingview.com/chart/XAUUSD/juScwUN8-Gold-Institutional-Distribution-at-the-Apex/",
                      "is_public": true,
                      "is_visible": true,
                      "is_video": false,
                      "is_education": false,
                      "is_script": false,
                      "is_picked": false,
                      "is_hot": true,
                      "is_platinum_broker_idea": false,
                      "script_type": null,
                      "script_access": null,
                      "script_id_part": null,
                      "version": null,
                      "script_package_id": null,
                      "video_duration": "0",
                      "video_cam": false,
                      "video_filename": null,
                      "comments_count": 20,
                      "views_count": 0,
                      "symbol": {
                        "name": "OANDA:XAUUSD",
                        "full_name": "OANDA:XAUUSD",
                        "short_name": "XAUUSD",
                        "exchange": "OANDA",
                        "type": "commodity",
                        "logo": {
                          "style": "single",
                          "logoid": "metal/gold"
                        },
                        "logo_id": "metal/gold",
                        "currency_logo_id": "country/US",
                        "base_currency_logo_id": null,
                        "logo_urls": [
                          "https://s3-symbol-logo.tradingview.com/metal/gold.svg"
                        ],
                        "interval": "240",
                        "direction": 2,
                        "badge": {
                          "label": "OANDA:XAUUSD",
                          "url": "/symbols/XAUUSD/"
                        }
                      },
                      "user": {
                        "id": 6991428,
                        "username": "Lingrid",
                        "badges": [
                          {
                            "name": "pro:pro_premium",
                            "verbose_name": "Premium"
                          }
                        ],
                        "picture_url": "https://s3.tradingview.com/userpics/6991428-YT1U.png",
                        "mid_picture_url": "https://s3.tradingview.com/userpics/6991428-YT1U_mid.png",
                        "is_pro": true,
                        "pro_plan": "pro_premium",
                        "is_broker": false,
                        "broker_name": null,
                        "broker_plan": null
                      },
                      "image": {
                        "big": "https://s3.tradingview.com/j/juScwUN8_big.png",
                        "middle": "https://s3.tradingview.com/j/juScwUN8_mid.png",
                        "middle_webp": "https://s3.tradingview.com/j/juScwUN8_mid.webp",
                        "bg_color": "#ffffff"
                      },
                      "reputation": null,
                      "actions": null,
                      "is_liked": false,
                      "likes_count": 48
                    }
                  ],
                  "msg": "Success"
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl --request GET \\\n  --url 'https://tradingview-data1.p.rapidapi.com/api/ideas/hot?page=1&lang=en' \\\n  --header 'x-rapidapi-host: tradingview-data1.p.rapidapi.com' \\\n  --header 'x-rapidapi-key: YOUR_RAPIDAPI_KEY'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const params = new URLSearchParams({ page: '1', lang: 'en' });\nconst response = await fetch(`https://tradingview-data1.p.rapidapi.com/api/ideas/hot?${params}`, {\n  method: 'GET',\n  headers: {\n    'x-rapidapi-host': 'tradingview-data1.p.rapidapi.com',\n    'x-rapidapi-key': 'YOUR_RAPIDAPI_KEY'\n  }\n});\nconst data = await response.json();\nconsole.log(data);"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nurl = \"https://tradingview-data1.p.rapidapi.com/api/ideas/hot\"\nparams = {\"page\": 1, \"lang\": \"en\"}\nheaders = {\n    \"x-rapidapi-host\": \"tradingview-data1.p.rapidapi.com\",\n    \"x-rapidapi-key\": \"YOUR_RAPIDAPI_KEY\"\n}\nresponse = requests.get(url, params=params, headers=headers)\nprint(response.json())"
          }
        ],
        "operationId": "getHotIdeas"
      }
    },
    "/api/ideas/editors-picks": {
      "get": {
        "tags": [
          "Community Ideas"
        ],
        "summary": "Get editors picks list",
        "description": "Get TradingView editors picks ideas list, supports pagination",
        "parameters": [
          {
            "$ref": "#/components/parameters/RapidAPIHostHeader"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1, homepage does not use page-1)",
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language code (e.g., en, zh_CN)",
            "schema": {
              "type": "string",
              "default": "en",
              "example": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Unique idea ID"
                          },
                          "image_url": {
                            "type": "string",
                            "description": "Image URL identifier"
                          },
                          "name": {
                            "type": "string",
                            "description": "Idea title"
                          },
                          "description": {
                            "type": "string",
                            "description": "Detailed analysis"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Creation time (ISO8601)"
                          },
                          "updated_at": {
                            "type": "string",
                            "nullable": true
                          },
                          "chart_url": {
                            "type": "string"
                          },
                          "is_public": {
                            "type": "boolean"
                          },
                          "is_hot": {
                            "type": "boolean"
                          },
                          "comments_count": {
                            "type": "integer"
                          },
                          "likes_count": {
                            "type": "integer"
                          },
                          "symbol": {
                            "type": "object",
                            "description": "Trading symbol info (name, full_name, exchange, type, logo_urls, interval, direction)"
                          },
                          "user": {
                            "type": "object",
                            "description": "Author info (id, username, picture_url, is_pro, pro_plan)"
                          },
                          "image": {
                            "type": "object",
                            "description": "Image URLs (big, middle, middle_webp, bg_color)"
                          }
                        }
                      }
                    },
                    "msg": {
                      "type": "string",
                      "example": "Success"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": 21844919,
                      "image_url": "B7m1wZ3G",
                      "name": "Dogecoin (DOGE) Update bullish potential ",
                      "description": "Dogecoin is currently consolidating within a tight local range, signaling a potential expansion move on the horizon as volatility continues to compress.\n\nPrice action has been accompanied by declining volume, which typically precedes a breakout scenario. As the range tightens, the market is building pressure for a directional move, with volume expected to be the key driver.\n\nKey Highlights:\n- Tight range consolidation signaling expansion\n- Declining volume suggests buildup phase\n- $0.07 support remains key for bullish structure\n\nThe lack of volume during this consolidation phase indicates that neither buyers nor sellers have taken control just yet. However, this type of compression often leads to sharp expansion once participation returns to the market.\n\nFrom a technical standpoint, as long as Dogecoin holds above the $0.07 support level, the structure remains favorable for a bullish breakout. This level acts as a key foundation for buyers, and maintaining support here keeps the upside scenario intact.\n\nA strong influx of bullish volume will likely be the trigger needed to break above the local range highs and initiate the next leg upward. Until then, patience is required as price continues to coil within this tightening structure, preparing for its next move.",
                      "created_at": "2026-04-20T09:07:25+00:00",
                      "updated_at": null,
                      "date_timestamp": 1776676045,
                      "updated_date_timestamp": null,
                      "chart_url": "https://www.tradingview.com/chart/DOGEUSDT/B7m1wZ3G-Dogecoin-DOGE-Update-bullish-potential/",
                      "is_public": true,
                      "is_visible": true,
                      "is_video": false,
                      "is_education": false,
                      "is_script": false,
                      "is_picked": true,
                      "is_hot": true,
                      "is_platinum_broker_idea": false,
                      "script_type": null,
                      "script_access": null,
                      "script_id_part": null,
                      "version": null,
                      "script_package_id": null,
                      "video_duration": "0",
                      "video_cam": false,
                      "video_filename": null,
                      "comments_count": 24,
                      "views_count": 0,
                      "symbol": {
                        "name": "BINANCE:DOGEUSDT",
                        "full_name": "BINANCE:DOGEUSDT",
                        "short_name": "DOGEUSDT",
                        "exchange": "BINANCE",
                        "type": "spot",
                        "logo": {
                          "style": "single",
                          "logoid": "crypto/XTVCDOGE"
                        },
                        "logo_id": null,
                        "currency_logo_id": "crypto/XTVCUSDT",
                        "base_currency_logo_id": "crypto/XTVCDOGE",
                        "logo_urls": [
                          "https://s3-symbol-logo.tradingview.com/crypto/XTVCDOGE.svg",
                          "https://s3-symbol-logo.tradingview.com/crypto/XTVCUSDT.svg"
                        ],
                        "interval": "1D",
                        "direction": 1,
                        "badge": {
                          "label": "BINANCE:DOGEUSDT",
                          "url": "/symbols/DOGEUSDT/"
                        }
                      },
                      "user": {
                        "id": 1648190,
                        "username": "The_Alchemist_Trader_",
                        "badges": [
                          {
                            "name": "pro:pro_premium",
                            "verbose_name": "Premium"
                          }
                        ],
                        "picture_url": "https://s3.tradingview.com/userpics/1648190-4kyx.png",
                        "mid_picture_url": "https://s3.tradingview.com/userpics/1648190-4kyx_mid.png",
                        "is_pro": true,
                        "pro_plan": "pro_premium",
                        "is_broker": false,
                        "broker_name": null,
                        "broker_plan": null
                      },
                      "image": {
                        "big": "https://s3.tradingview.com/b/B7m1wZ3G_big.png",
                        "middle": "https://s3.tradingview.com/b/B7m1wZ3G_mid.png",
                        "middle_webp": "https://s3.tradingview.com/b/B7m1wZ3G_mid.webp",
                        "bg_color": "#dadada"
                      },
                      "reputation": null,
                      "actions": null,
                      "is_liked": false,
                      "likes_count": 16
                    },
                    {
                      "id": 21845323,
                      "image_url": "EBBTkbEQ",
                      "name": "Nasdaq Soars 20% in Three Weeks. Boom Just in Time for Earnings?",
                      "description": "The tech-heavy Nasdaq Composite  NASDAQ:IXIC  has climbed nearly 20% from its March 30 low, delivering the fastest rebound traders have seen this year. Moves of that size usually arrive alongside strong catalysts, shifting expectations, or a sudden improvement in global mood.\n\nThis time the spark came partly from easing tensions around the US–Iran conflict, which helped calm energy markets and  send risk assets to record highs . A relief rally quickly became a momentum rally, and momentum attracted fresh capital.\n\n🏦  Earnings Season Opens with Confidence \n\nAt the same time, Corporate America stepped into  earnings season  with steady footing. \n\n Major banks  reported solid results, helping reinforce expectations for roughly 12% year-over-year earnings growth for the S&P 500. Strong margins continue to support profits even as inflation remains sticky and geopolitical uncertainty lingers.\n\nEarly reports suggest companies still know how to protect profitability in complex environments. That resilience tends to encourage investors to look ahead rather than backward.\n\n📊  Tech Still Carries the Baton \n\nStrip technology out of the earnings picture and projected growth drops closer to 3%, which highlights how much leadership still comes from the big players in the business. \n\nThe recent Nasdaq rebound could be seen as renewed confidence that artificial intelligence spending, cloud infrastructure expansion, and digital services demand continue shaping corporate investment priorities.\n\n✈️  The First Big Names Step Up \n\nThis week brings results from several high-profile companies  including Tesla   NASDAQ:TSLA  and Boeing  NYSE:BA , along with Intel  NASDAQ:INTC  and United Airlines  NASDAQ:UAL  . Roughly 86% of early reporters have already beaten expectations, which adds momentum to the broader narrative of corporate resilience.\n\nAirlines offer insight into travel demand, chipmakers reflect investment in infrastructure, and industrial giants help reveal global supply chain health. Together they provide a useful early read on economic direction.\n\n💻  The Real Test Arrives Next Week \n\nThe most influential stretch of earnings arrives next week. Microsoft  NASDAQ:MSFT , Meta Platforms  NASDAQ:META , Alphabet  NASDAQ:GOOGL , and Amazon  NASDAQ:AMZN  report on April 29, followed by Apple  NASDAQ:AAPL  on April 30.\n\nTogether these companies shape nearly every major market theme at once. Cloud spending, digital advertising, artificial intelligence infrastructure, and consumer demand all intersect during that single reporting window.\n\n🔄  A Rotation Story in Reverse \n\nEarlier this year investors shifted capital away from technology stocks amid concerns about heavy AI infrastructure spending and pressure on software business models. That rotation left valuations at more comfortable levels compared with previous earnings seasons.\n\nLower valuation multiples often create room for upside surprises. When expectations fall, steady results can look impressive.\n\n⚡  Software Still Faces Questions \n\nOne area attracting close attention involves software companies adjusting to the pace of artificial intelligence innovation. Investors continue watching how automation reshapes pricing power, hiring strategies, and enterprise demand. Adobe  NASDAQ:ADBE , Salesforce  NYSE:CRM , Figma  NYSE:FIG , and Progress  NASDAQ:PRGS  have been hurt badly.\n\nAt the same time infrastructure players continue benefiting from strong investment cycles. Winners here include CoreWeave  NASDAQ:CRWV , Nebius  NASDAQ:NBIS , and IREN  NASDAQ:IREN  . The contrast creates a layered picture inside the broader technology sector.\n\n🛍️  Consumers Remain the Wild Card \n\nStrategists also continue monitoring consumer strength as tariffs (yep, still here), higher energy costs, and AI-driven changes in employment reshape spending behavior. Premium brands and services companies often provide early signals about confidence across households.\n\n Off to you : How do you plan to tackle this earnings season? Share your views in the comments!",
                      "created_at": "2026-04-20T10:22:38+00:00",
                      "updated_at": null,
                      "date_timestamp": 1776680558,
                      "updated_date_timestamp": null,
                      "chart_url": "https://www.tradingview.com/chart/IXIC/EBBTkbEQ-Nasdaq-Soars-20-in-Three-Weeks-Boom-Just-in-Time-for-Earnings/",
                      "is_public": true,
                      "is_visible": true,
                      "is_video": false,
                      "is_education": false,
                      "is_script": false,
                      "is_picked": true,
                      "is_hot": true,
                      "is_platinum_broker_idea": false,
                      "script_type": null,
                      "script_access": null,
                      "script_id_part": null,
                      "version": null,
                      "script_package_id": null,
                      "video_duration": "0",
                      "video_cam": false,
                      "video_filename": null,
                      "comments_count": 12,
                      "views_count": 0,
                      "symbol": {
                        "name": "NASDAQ:IXIC",
                        "full_name": "NASDAQ:IXIC",
                        "short_name": "IXIC",
                        "exchange": "NASDAQ",
                        "type": "index",
                        "logo": {
                          "style": "single",
                          "logoid": "indices/nasdaq-composite"
                        },
                        "logo_id": "indices/nasdaq-composite",
                        "currency_logo_id": "country/US",
                        "base_currency_logo_id": null,
                        "logo_urls": [
                          "https://s3-symbol-logo.tradingview.com/indices/nasdaq-composite.svg"
                        ],
                        "interval": "1D",
                        "direction": 0,
                        "badge": {
                          "label": "NASDAQ:IXIC",
                          "url": "/symbols/NASDAQ-IXIC/"
                        }
                      },
                      "user": {
                        "id": 6171439,
                        "username": "TradingView",
                        "badges": [
                          {
                            "name": "employee",
                            "verbose_name": "TradingView employee"
                          },
                          {
                            "name": "moderator",
                            "verbose_name": "TradingView moderator"
                          },
                          {
                            "name": "pro:pro_premium_expert",
                            "verbose_name": "Ultimate"
                          }
                        ],
                        "picture_url": "https://s3.tradingview.com/userpics/6171439-mFQX.png",
                        "mid_picture_url": "https://s3.tradingview.com/userpics/6171439-mFQX_mid.png",
                        "is_pro": true,
                        "pro_plan": "pro_premium_expert",
                        "is_broker": false,
                        "broker_name": null,
                        "broker_plan": null
                      },
                      "image": {
                        "big": "https://s3.tradingview.com/e/EBBTkbEQ_big.png",
                        "middle": "https://s3.tradingview.com/e/EBBTkbEQ_mid.png",
                        "middle_webp": "https://s3.tradingview.com/e/EBBTkbEQ_mid.webp",
                        "bg_color": "#ffffff"
                      },
                      "reputation": null,
                      "actions": null,
                      "is_liked": false,
                      "likes_count": 114
                    },
                    {
                      "id": 21843137,
                      "image_url": "CQpkz6PH",
                      "name": "IREN | Weekly",
                      "description": "NASDAQ:IREN   — Quantum Model Projection  \nBullish Outlook | Projected Extension Underway\n IREN  has advanced 62% since late March, firmly supported by the  Q-Structure λₛ  at precise confluence, as projected—reinforcing the Primary degree Extension in Wave ⓹ now underway.\n\n Wave Analysis \nThis impulsive advance in Intermediate Wave (1), characteristically, indicates a broader Extension into Primary Wave ⓹. \nAs illustrated on the chart, a retracement at Intermediate degree is expected to follow as Wave (2) from current levels—aligning with  BTC ’s projected corrective phase in Int (2).\n\n🔖  Outlook is derived from insights within the Quantum Models framework. Within this methodology, Q-targets are high-probability projections generated by the convergence of equivalence lines. These Quantum Structures also function as structural anchors, shaping the model’s internal geometry and guiding the evolution of alternative paths as price action unfolds.   \n#CryptoStocks #CryptoMining #QuantumModels\n",
                      "created_at": "2026-04-20T03:04:57+00:00",
                      "updated_at": null,
                      "date_timestamp": 1776654297,
                      "updated_date_timestamp": null,
                      "chart_url": "https://www.tradingview.com/chart/IREN/CQpkz6PH-IREN-Weekly/",
                      "is_public": true,
                      "is_visible": true,
                      "is_video": false,
                      "is_education": false,
                      "is_script": false,
                      "is_picked": true,
                      "is_hot": true,
                      "is_platinum_broker_idea": false,
                      "script_type": null,
                      "script_access": null,
                      "script_id_part": null,
                      "version": null,
                      "script_package_id": null,
                      "video_duration": "0",
                      "video_cam": false,
                      "video_filename": null,
                      "comments_count": 13,
                      "views_count": 0,
                      "symbol": {
                        "name": "NASDAQ:IREN",
                        "full_name": "NASDAQ:IREN",
                        "short_name": "IREN",
                        "exchange": "NASDAQ",
                        "type": "stock",
                        "logo": {
                          "style": "single",
                          "logoid": "iris-energy"
                        },
                        "logo_id": "iris-energy",
                        "currency_logo_id": "country/US",
                        "base_currency_logo_id": null,
                        "logo_urls": [
                          "https://s3-symbol-logo.tradingview.com/iris-energy.svg"
                        ],
                        "interval": "1W",
                        "direction": 0,
                        "badge": {
                          "label": "NASDAQ:IREN",
                          "url": "/symbols/NASDAQ-IREN/"
                        }
                      },
                      "user": {
                        "id": 3586699,
                        "username": "ElliottChart",
                        "badges": [],
                        "picture_url": "https://s3.tradingview.com/userpics/3586699-k384.png",
                        "mid_picture_url": "https://s3.tradingview.com/userpics/3586699-k384_mid.png",
                        "is_pro": false,
                        "pro_plan": "",
                        "is_broker": false,
                        "broker_name": null,
                        "broker_plan": null
                      },
                      "image": {
                        "big": "https://s3.tradingview.com/c/CQpkz6PH_big.png",
                        "middle": "https://s3.tradingview.com/c/CQpkz6PH_mid.png",
                        "middle_webp": "https://s3.tradingview.com/c/CQpkz6PH_mid.webp",
                        "bg_color": "#ffffff"
                      },
                      "reputation": null,
                      "actions": null,
                      "is_liked": false,
                      "likes_count": 70
                    }
                  ],
                  "msg": "Success"
                }
              }
            }
          },
          "500": {
[...]
